<%if @type_param == "index" %>
    <div id="post_upvote_downvote_<%=@post.id%>">
        <div class="post_index_upvote_block">
            <%if user_signed_in?%>
                <% upvote = @post.post_votes.find { |vote| (vote.user_id == current_user.id) && (vote.vote_type == 1)} %>
            <%end%>
            <% if upvote %>  
                <%= button_to post_post_vote_path(@post, upvote, vote_type: -1, type_param: 'index'), method: :delete, remote: true, form_class: "btn_highlight" do%>
                    <i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
                <%end%> 
            <%else%>
                <%= button_to post_post_votes_path(@post, vote_type: 1, type_param: 'index'), method: :post, remote: true, form_class: "btn_normal" do%>
                    <i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
                <%end%> 
            <%end%>
        </div>

        <div class="post_index_upvote_downvote_count">
            <span><%=convert_number_to_human(count_post_vote(@post))%></span>
        </div>

        <div class="post_index_downvote_block">
            <%if user_signed_in?%>
                <% downvote = @post.post_votes.find { |vote| (vote.user_id == current_user.id) && (vote.vote_type == 0)} %>
            <%end%>
            <% if downvote %>  
                <%= button_to post_post_vote_path(@post, downvote, vote_type: -1, type_param: 'index'), method: :delete, remote: true, form_class: "btn_highlight" do%>
                    <i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
                <%end%> 
            <%else%>
                <%= button_to post_post_votes_path(@post, vote_type: 0, type_param: 'index'), method: :post, remote: true, form_class: "btn_normal" do%>
                    <i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
                <%end%> 
            <%end%>
        </div>
    </div>
<%else%>
    <div id="post_upvote_downvote_<%=@post.id%>">
        <div class="post_show_upvote_block">
            <%if user_signed_in?%>
                <% upvote = @post.post_votes.find { |vote| (vote.user_id == current_user.id) && (vote.vote_type == 1)} %>
            <%end%>
            <% if upvote %>  
                <%= button_to post_post_vote_path(@post, upvote, vote_type: -1), method: :delete, remote: true, form_class: "btn_highlight" do%>
                    <i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
                <%end%> 
            <%else%>
                <%= button_to post_post_votes_path(@post, vote_type: 1), method: :post, remote: true, form_class: "btn_normal" do%>
                    <i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
                <%end%> 
            <%end%>
        </div>

        <div class="post_show_upvote_downvote_count">
            <span><%=convert_number_to_human(count_post_vote(@post))%></span>
        </div>

        <div class="post_show_downvote_block">
            <%if user_signed_in?%>
                <% downvote = @post.post_votes.find { |vote| (vote.user_id == current_user.id) && (vote.vote_type == 0)} %>
            <%end%>
            <% if downvote %>  
                <%= button_to post_post_vote_path(@post, downvote, vote_type: -1), method: :delete, remote: true, form_class: "btn_highlight" do%>
                    <i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
                <%end%> 
            <%else%>
                <%= button_to post_post_votes_path(@post, vote_type: 0), method: :post, remote: true, form_class: "btn_normal" do%>
                    <i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
                <%end%> 
            <%end%>
        </div>
    </div>
<%end%>