<div id="post_index_vote_<%=@post.id%>">
    <% pre_vote = @post.post_votes.find { |vote| vote.user_id == current_user.id} %>
    <% if pre_vote %>  
        <%= button_to post_post_vote_path(@post, pre_vote), method: :delete, remote: true do%>
            <i><%= bootstrap_icon "caret-up-fill", width: 28, height: 28, fill: "#1877f2" %></i>
        <%end%> 
    <%else%>
        <%= button_to post_post_votes_path(@post), method: :post, remote: true do%>
            <i><%= bootstrap_icon "caret-up", width: 28, height: 28, fill: "#888" %></i>
        <%end%> 
    <%end%>
</div>