<div class="topic_show_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-nopadding">
                <div class='topic_show_info'>
                    <%if @topic.cover_image?%>
                        <div class='topic_show_info_cover'>
                            <%= link_to (image_tag(@topic.cover_image.url)), image_path(url_for(@topic.cover_image.url)), rel: "gallery" , :href => topic_path(@topic)%>
                        </div>
                    <%else%>
                        <div class='topic_show_info_cover'>
                            <%= link_to (image_tag("default-cover.jpg")), image_path(url_for("default-cover.jpg")), rel: "gallery" , :href => topic_path(topic)%>
                        </div>
                    <%end%>

                    <%if @topic.avatar?%>
                        <div class='topic_show_info_avatar'>
                            <%= link_to (image_tag(@topic.avatar.url)), image_path(url_for(@topic.avatar.url)), rel: "gallery" , :href => topic_path(@topic)%>
                        </div>
                    <%else%>
                        <div class='topic_show_info_avatar'>
                            <%= link_to (image_tag("default-avartar.jpg")), image_path(url_for("default-avartar.jpg")), rel: "gallery" , :href => topic_path(topic)%>
                        </div>
                    <%end%>

                    <div class='topic_show_info_data'>
                        <div class='topic_show_info_title'>
                            <a><%=@topic.name%></a>
                        </div>
                        <div class='topic_show_info_count'>
                            <a><%= @topic.posts.count %> bài viết</a><span> · </span>
                            <a><%= @topic.topic_follows.count %> người theo dõi</a>
                        </div>
                        <div class='topic_show_info_des'>
                            <a><%=@topic.description%></a>
                        </div>
                    </div>
                    <div class="topic_show_follow_block" id="topic_follow_<%=@topic.id%>">
                        <%if user_signed_in?%>
                            <% pre_follow = @topic.topic_follows.find { |follow| follow.user_id == current_user.id} %>
                        <%end%>
                        <% if pre_follow %>  
                            <%= button_to topic_topic_follow_path(@topic, pre_follow), method: :delete, remote: true , form_class: "btn_highlight" do%>
                                <a>Bỏ theo dõi</a>
                            <%end%> 
                        <%else%>
                            <%= button_to topic_topic_follows_path(@topic), method: :topic, remote: true, form_class: "btn_normal" do%>
                                <a>Theo dõi</a>
                            <%end%> 
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-nopadding">
                <div class='topic_show_middle'>
                    <div class="topic_show_post_sort">
                        <div class="topic_show_post_tab_link">
                            <ul class="nav">
                                <li class="nav-item">
                                    <%if @tab_id == "default" || @tab_id == "topicPostHotID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=topic_path(tab_id: 'topicPostHotID')%>"><i><%= bootstrap_icon "bar-chart", width: 18, height: 18%></i>Hot </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "topicPostNewID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=topic_path(tab_id: 'topicPostNewID')%>"><i><%= bootstrap_icon "lightning", width: 18, height: 18%></i>Mới nhất </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "topicPostTopID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=topic_path(tab_id: 'topicPostTopID')%>"><i><%= bootstrap_icon "shift", width: 19, height: 19%></i>Top </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "topicPostTrendID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=topic_path(tab_id: 'topicPostTrendID')%>"><i><%= bootstrap_icon "graph-up", width: 18, height: 18%></i>Trending </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="topic_show_post_tab_content">
                        <%if @tab_id == "default" || @tab_id == "topicPostHotID"%>
                            <%@posts.each do |post|%>
                                <%= render post%>
                            <%end%>
                        <%end%>

                        <%if @tab_id == "topicPostNewID"%>
                            <%@posts.reverse.each do |post|%>
                                <%= render post%>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-nopadding">
                <div class='topic_show_right'>
                    <div class='topic_show_right_title'>
                        <a>Bài viết khác về <%=link_to (@topic.name), topic_path(@topic)%></a>
                    </div>
                    <%@posts.each do |post|%>
                        <div class='topic_show_right_post_block'>
                            <a><%= link_to (post.title), post_path(post) %></a>
                        </div>
                        <div class='topic_show_right_topic_block'>
                            <%post.topics.each do |topic|%>
                                <%= button_to topic_path(topic), method: :get do %>
                                    <a><%=topic.name%></a>
                                <%end%>
                            <%end%>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
