<%if @type_param == "index" %>
    <div id="tag_follow_<%=tag.id%>">
        <%if user_signed_in?%>
            <% pre_follow = tag.tag_follows.find { |follow| follow.user_id == current_user.id} %>
        <%end%>
        <% if pre_follow %>  
            <%= button_to tag_tag_follow_path(tag, pre_follow), method: :delete, remote: true , form_class: "btn_highlight" do%>
                <a>Bỏ theo dõi</a>
            <%end%> 
        <%else%>
            <%= button_to tag_tag_follows_path(tag), method: :tag, remote: true, form_class: "btn_normal" do%>
                <a>Theo dõi</a>
            <%end%> 
        <%end%>
    </div>
<%else%>
    <div id="tag_follow_<%=@tag.id%>">
        <%if user_signed_in?%>
            <% pre_follow = @tag.tag_follows.find { |follow| follow.user_id == current_user.id} %>
        <%end%>
        <% if pre_follow %>  
            <%= button_to tag_tag_follow_path(@tag, pre_follow), method: :delete, remote: true , form_class: "btn_highlight" do%>
                <a>Bỏ theo dõi</a>
            <%end%> 
        <%else%>
            <%= button_to tag_tag_follows_path(@tag), method: :tag, remote: true, form_class: "btn_normal" do%>
                <a>Theo dõi</a>
            <%end%> 
        <%end%>
    </div>
<%end%>