<%if @type_param == "index"%>
    <div id="user_follow_<%=current_user.id%>">
        <%if user_signed_in?%>
            <% pre_follow = current_user.following_users.find { |follow| follow.followee_id == current_user.id} %>
        <%end%>
        <% if pre_follow %>  
            <%= button_to user_user_follow_path(current_user, pre_follow, type_param: "index"), method: :delete, remote: true, form_class: "btn_highlight" do%>
                <a>Đã theo dõi</a>
            <%end%> 
        <%else%>
            <%= button_to user_user_follows_path(current_user, type_param: "index"), method: :post, remote: true, form_class: "btn_normal" do%>
                <a>Theo dõi</a>
            <%end%>
        <%end%>
    </div>
<%else%>
    <div id="user_follow_<%=current_user.id%>">
        <%if user_signed_in?%>
            <% pre_follow = current_user.following_users.find { |follow| follow.followee_id == current_user.id} %>
        <%end%>
        <% if pre_follow %>  
            <%= button_to user_user_follow_path(current_user, pre_follow), method: :delete, remote: true, form_class: "btn_highlight" do%>
                <a>Đã theo dõi</a>
            <%end%> 
        <%else%>
            <%= button_to user_user_follows_path(current_user), method: :post, remote: true, form_class: "btn_normal" do%>
                <a>Theo dõi</a>
            <%end%>
        <%end%>
    </div>
<%end%>