
<div class="post_reply_comment_block">
    <%owner_user = find_owner_user(post_comment.user_id)%>
    <div class="post_comment_left">
        <div class="post_comment_avatar checked_<%=find_user_color(owner_user.name)%>">
            <a><%= link_to owner_user.name[0], user_session_path(owner_user), class: "post_comment_name_label"%></a>
        </div>
    </div>
    <div class="post_reply_comment_container">
        <div class="post_comment_right">
            <div class="post_comment_info">
                <a><%=owner_user.name%></a>
                <span><%=time_ago_in_words(post_comment.created_at)%></span>
            </div>
            <div class="post_comment_cotent">
                <a><%= post_comment.content %></a>
            </div>
            <div class="post_comment_reply_block">
                <%if user_signed_in?%>
                    <button class="post_comment_reply_btn" onclick="myFunctionReplyPostComment(<%=post_comment.id%>)">
                        <i><%= bootstrap_icon "reply", width: 20, height: 20, fill: "#1877f2" %></i>
                        <span><%= post_comment.post_comments.count%></span> 
                        <a>Trả lời</a> 
                    </button>
                <%end%>
            </div>
        </div>
        <div class="post_reply_comment_new" id="post_comment_index_<%=post_comment.id%>">
            <%= form_for([post_comment, PostComment.new], remote: true) do |f| %>
                <div class="post_reply_comment_section">
                    <div class="post_reply_comment_input">
                        <%= f.text_area :content, :required =>true, class: "form-control", placeholder: "Nhập trả lời tại đây" %>
                    </div>
                    <div class="post_reply_comment_submit">
                        <%= f.submit "Gửi trả lời", class: "post_reply_comment_form_submit" %>
                    </div>
                </div>
            <%end%>
            <div class="post_reply_comment_comment">
                <%= render post_comment.post_comments %>
            </div>
        </div>
    </div>

    <script>
        function myFunctionReplyPostComment(id) {
            var x = document.getElementById(id);
            if (x.style.display == "block") 
            {
                x.style.display = "none";
            } 
            else 
            {
                x.style.display = "block";
            }
        }
    </script>
</div>