
<div class="post_comment_block">
    <%@owner_post_comment_user = find_owner_user_for_post_comment(post_comment)%>
    <div class="post_comment_left_block">
        <%if @owner_post_comment_user.avatar?%>
            <div class="post_comment_user_avatar">
                <%= link_to (image_tag(@owner_post_comment_user.avatar.url)), image_path(url_for(@owner_post_comment_user.avatar.url)), rel: "gallery" , :href => user_path(@owner_post_comment_user)%>
            </div>
        <%else%>
            <div class="post_comment_user_avatar">
                <%= link_to (image_tag("default-user.png")), image_path(url_for("default-user.png")), rel: "gallery" , :href => user_path(@owner_post_comment_user)%>
            </div>
        <%end%>
    </div>
    <div class="post_comment_right_block">
        <div class="post_comment_info">
            <a><%=@owner_post_comment_user.name%></a> · 
            <span><%=time_ago_in_words(post_comment.created_at)%></span>
        </div>
        <div class="post_comment_right">
            <div class="post_comment_cotent">
                <a><%= post_comment.content %></a>
            </div>

            <div class="post_comment_right_toolbar">
                <div class="post_comment_vote_unvote_block" id="post_comment_vote_unvote_<%=post_comment.id%>">
                    <div class="post_comment_vote_block">
                        <%if user_signed_in?%>
                            <% pre_comment_vote = post_comment.post_comment_votes.find { |vote| vote.user_id == current_user.id} %>
                        <%end%>
                        <% if pre_comment_vote %>  
                            <%= button_to post_comment_post_comment_vote_path(post_comment, pre_comment_vote), method: :delete, remote: true, form_class: "btn_highlight" do%>
                                <i><%= bootstrap_icon "arrow-up-circle-fill", width: 18, height: 18%></i>
                            <%end%> 
                        <%else%>
                            <%= button_to post_comment_post_comment_votes_path(post_comment), method: :post, remote: true, form_class: "btn_normal" do%>
                                <i><%= bootstrap_icon "arrow-up-circle", width: 18, height: 18%></i>
                            <%end%> 
                        <%end%>
                    </div>

                    <div class="post_comment_vote_unvote_count">
                        <span><%=post_comment.post_comment_votes.count - post_comment.post_comment_unvotes.count%></span>
                    </div>

                    <div class="post_comment_unvote_block">
                        <%if user_signed_in?%>
                            <% pre_comment_unvote = post_comment.post_comment_unvotes.find { |unvote| unvote.user_id == current_user.id} %>
                        <%end%>
                        <% if pre_comment_unvote %>  
                            <%= button_to post_comment_post_comment_unvote_path(post_comment, pre_comment_unvote), method: :delete, remote: true, form_class: "btn_highlight" do%>
                                <i><%= bootstrap_icon "arrow-down-circle-fill", width: 18, height: 18%></i>
                            <%end%> 
                        <%else%>
                            <%= button_to post_comment_post_comment_unvotes_path(post_comment), method: :post, remote: true, form_class: "btn_normal" do%>
                                <i><%= bootstrap_icon "arrow-down-circle", width: 18, height: 18%></i>
                            <%end%> 
                        <%end%>
                    </div>
                </div>
                
                <div class="post_comment_reply_block">
                    <%if user_signed_in?%>
                        <button class="post_comment_reply_btn" onclick="myFunctionReplyPostComment('post_comment_input_reply_' + <%=post_comment.id.to_s%>)">
                            <i><%= bootstrap_icon "chat", width: 18, height: 18%></i>
                            <span><%= post_comment.post_comments.count%></span> 
                            <a>Trả lời</a> 
                        </button>
                    <%else%>
                        <%= button_to new_user_session_path, :method => :get, form_class: "post_comment_reply_btn" do%>
                            <i><%= bootstrap_icon "chat", width: 18, height: 18%></i>
                            <span><%= post_comment.post_comments.count%></span> 
                            <a>Trả lời</a> 
                        <%end%>
                    <%end%>
                </div>
            </div>

            <div class="post_reply_comment_new" id="post_comment_input_reply_<%=post_comment.id.to_s%>">
                <%= form_for([post_comment, PostComment.new], remote: true) do |f| %>
                    <div class="post_reply_comment_section">
                        <div class="post_reply_comment_input">
                            <%= f.text_area :content, :required =>true, class: "form-control", placeholder: "Nhập trả lời tại đây" %>
                        </div>
                        <div class="post_reply_comment_submit">
                            <%= f.submit "Trả lời", class: "post_reply_comment_form_submit" %>
                        </div>
                    </div>
                <%end%>
            </div>
            
            <div class="post_comment_reply_container">
                <div class="post_reply_comment_render" id="post_reply_comment_index_<%=post_comment.id%>">
                    <%= render post_comment.post_comments.order('created_at DESC') %>
                </div>
            </div>
        </div>
    </div>

    <script>
        function myFunctionReplyPostComment(id) {
            var x = document.getElementById(id);
            if (x.style.display == "block") 
            {
                x.style.display = "none";
            } 
            else 
            {
                x.style.display = "block";
            }
        }
    </script>
</div>