<%if @type_param == "index" %>
    <div id="post_follow_<%=@post.id%>">
        <%if user_signed_in?%>
            <% pre_follow = @post.post_follows.find { |follow| follow.user_id == current_user.id} %>
        <%end%>
        <% if pre_follow %>  
            <%= button_to post_post_follow_path(@post, pre_follow, type_param: 'index'), method: :delete, remote: true do%>
                <i><%= bootstrap_icon "bookmark-fill", width: 17, height: 17, fill: "#0071e3" %></i>
            <%end%> 
        <%else%>
            <%= button_to post_post_follows_path(@post, type_param: 'index'), method: :post, remote: true do%>
                <i><%= bootstrap_icon "bookmark", width: 17, height: 17, fill: "#666" %></i>
            <%end%> 
        <%end%>
    </div>
<%else%>
    <div id="post_follow_<%=@post.id%>">
        <%if user_signed_in?%>
            <% pre_follow = @post.post_follows.find { |follow| follow.user_id == current_user.id} %>
        <%end%>
        <% if pre_follow %>  
            <%= button_to post_post_follow_path(@post, pre_follow), method: :delete, remote: true do%>
                <i><%= bootstrap_icon "bookmark-fill", width: 17, height: 17, fill: "#0071e3" %></i>
            <%end%> 
        <%else%>
            <%= button_to post_post_follows_path(@post), method: :post, remote: true do%>
                <i><%= bootstrap_icon "bookmark", width: 17, height: 17, fill: "#666" %></i>
            <%end%> 
        <%end%>
    </div>
<%end%>