<div class='user_setting_dasboard'>
	<div class="container">
    	<div class="row">
			<div class="col-sm-8 col-nopadding">
		        <div class='user_setting_title'>
		            <a>Cài đặt thông tin cá nhân cho @<%=current_user.name%></a>
		        </div>

		        <div class="user_setting_tab_link">
		            <ul class="nav">
		                <li class="nav-item">
		                    <%if @tab_id == "default" || @tab_id == "UserSettingPersonalID"%>
		                        <%active = "active"%>
		                    <%else%> 
		                        <%active = ""%>
		                    <%end%>                                 
		                    <a class="nav-link <%=active%>" href="<%=edit_user_path(current_user, tab_id: 'UserSettingPersonalID')%>"><i><%= bootstrap_icon "person", width: 24, height: 24%></i>Thông tin cá nhân</a>
		                </li>
		                <li class="nav-item">
		                    <%if @tab_id == "UserSettingNotiID"%>
		                        <%active = "active"%>
		                    <%else%> 
		                        <%active = ""%>
		                    <%end%>                                     
		                    <a class="nav-link <%=active%>" href="<%=edit_user_path(current_user, tab_id: 'UserSettingNotiID')%>"><i><%= bootstrap_icon "bell", width: 20, height: 20%></i>Thông báo</a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>	
		
		<div class="row">
			<div class="col-sm-8 col-nopadding">
				<div class="user_setting_tab_content">
					<%if @tab_id == "default" || @tab_id == "UserSettingPersonalID"%>
						<div class="user_setting_personal_tab">
							<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
								<div class="user_setting_form">
									<div class="user_setting_section">
										<div class="user_setting_description">
											<a>Thông tin cá nhân</a>
										</div>
										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :name, "Tên đăng nhập", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_field :name, class: "form-control", placeholder: "Thay đổi tên đăng nhập" %>
											</div>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :email, "Địa chỉ email", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_field :email, class: "form-control", placeholder: "Thay đổi địa chỉ email" %>
											</div>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :introduce, "Mô tả về bản thân", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_area :introduce, class: "form-control-rich-text", placeholder: "Mô tả ngắn vê bản thân" %>
											</div>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :avatar, "Ảnh đại diện", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.file_field :avatar, class: "form-control", placeholder: "Thay đổi ảnh đại diện" %>
											</div>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :cover_image, "Ảnh bìa", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.file_field :cover_image, class: "form-control", placeholder: "Thay đổi ảnh bìa" %>
											</div>
										</div>
									</div>
									
									<div class="user_setting_section">
										<div class="user_setting_description">
											<a>Thông tin khác</a>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :birth_day, "Ngày sinh", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.date_field :birth_day, class: "form-control", placeholder: "Thay đổi ngày sinh" %>
											</div>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :phone, "Số điện thoại", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_field :phone, class: "form-control", placeholder: "Thay đổi số điện thoại" %>
											</div>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :address, "Địa chỉ", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_field :address, class: "form-control", placeholder: "Thay đổi địa chỉ" %>
											</div>
										</div>
									</div>

									<div class="user_setting_section">
										<div class="user_setting_description">
											<a>Việc làm</a>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :job, "Công việc hiện tai", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_field :job, class: "form-control", placeholder: "Thay đổi việc làm" %>
											</div>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :company, "Công ty", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_field :company, class: "form-control", placeholder: "Thay đổi công ty" %>
											</div>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :education, "Học vấn", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_field :education, class: "form-control", placeholder: "Thay đổi học vấn" %>
											</div>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :school, "Trường học", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_field :school, class: "form-control", placeholder: "Thay đổi trường học" %>
											</div>
										</div>
									</div>

									<div class="user_setting_section">
										<div class="user_setting_description">
											<a>Mục khác</a>
										</div>

										<div class="user_setting_content">
											<div class="user_setting_label">
												<a><%= f.label :sign, "Chữ kí", class: "user_setting_label_name" %></a>
											</div>

											<div class="user_setting_input">
												<%= f.text_area :sign, class: "form-control-rich-text", placeholder: "Thêm chữ kí của bạn" %>
											</div>
										</div>
									</div>
									
									<div class="user_setting_submit">
										<%= f.submit "Lưu thay đổi", class: "user_setting_form_submit" %>
									</div>
								</div>
							<%end%>
						</div>
					<%end%>

					<%if @tab_id == "UserSettingNotiID"%>
						<div class="user_setting_noti_tab">
							<div class="user_setting_form">
								<%= simple_form_for @user, html: {class: "form-horizontal"} do |f| %>
									<div class="user_setting_section">
										<div class="user_setting_label">
											<a>Cài đặt thông báo</a>
										</div>
										<div class="user_setting_content">
											<div class="user_setting_check_box">
												<span><%= f.input_field :noti_when_message, as: :boolean %></span>
												<a><%= f.label :noti_when_message, "Gửi thông báo khi có tin nhắn", class: "user_setting_label_name" %></a>
											</div>
											<div class="user_setting_check_box">
												<span><%= f.input_field :noti_when_comment, as: :boolean %></span>
												<a><%= f.label :noti_when_comment, "Gửi thông báo khi ai đó bình luận nội dung của tôi", class: "user_setting_label_name" %></a>
											</div>
											<div class="user_setting_check_box">
												<span><%= f.input_field :noti_when_tagging, as: :boolean %></span>
												<a><%= f.label :noti_when_tagging, "Gửi thông báo khi ai đó nhắc tới tôi", class: "user_setting_label_name" %></a>
											</div>
											<div class="user_setting_check_box">
												<span><%= f.input_field :noti_when_follow, as: :boolean %></span>
												<a><%= f.label :noti_when_follow, "Gửi thông báo khi ai đó theo dõi tôi", class: "user_setting_label_name" %></a>
											</div>
											<div class="user_setting_check_box">
												<span><%= f.input_field :noti_when_vote, as: :boolean %></span>
												<a><%= f.label :noti_when_vote, "Gửi thông báo khi ai đó bình chọn cho bài đăng của tôi", class: "user_setting_label_name" %></a>
											</div>
											<div class="user_setting_check_box">
												<span><%= f.input_field :noti_when_unvote, as: :boolean %></span>
												<a><%= f.label :noti_when_unvote, "Gửi thông báo khi ai đó không bình chọn cho bài đăng của tôi", class: "user_setting_label_name" %></a>
											</div>
											<div class="user_setting_check_box">
												<span><%= f.input_field :noti_when_report, as: :boolean %></span>
												<a><%= f.label :noti_when_report, "Gửi thông báo khi ai đó report bài đăng của tôi", class: "user_setting_label_name" %></a>
											</div>
											<div class="user_setting_check_box">
												<span><%= f.input_field :noti_weekly, as: :boolean %></span>
												<a><%= f.label :noti_weekly, "Gửi cho tôi những bài đăng gợi ý về chủ để tôi quan tâm", class: "user_setting_label_name" %></a>
											</div>
										</div>
									</div>

									<div class="user_setting_submit">
										<%= f.submit "Lưu thay đổi", class: "user_setting_form_submit" %>
									</div>
								<%end%>
							</div>
						</div>
					<%end%>
				</div>
			</div>
		</div>
    </div>
</div>