<%if user_signed_in? && (current_user.id == @user.id)%>
    <div class='user_profile_dasboard'>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-nopadding">
                    <div class='user_show_info_block'>
                        <div class='user_show_info'>
                            <%if @user.cover_image?%>
                                <div class='user_show_info_cover_image'>
                                    <%= link_to (image_tag(@user.cover_image.url)), image_path(url_for(@user.cover_image.url)), rel: "gallery" , :href => user_path(@user)%>
                                </div>
                            <%else%>
                                <div class='user_show_info_cover_image'>
                                    <%= link_to (image_tag("default-cover.jpg")), image_path(url_for("default-cover.jpg")), rel: "gallery" , :href => user_path(@user)%>
                                </div>
                            <%end%>

                            <%if @user.avatar?%>
                                <div class='user_show_info_avatar'>
                                    <%= link_to (image_tag(@user.avatar.url)), image_path(url_for(@user.avatar.url)), rel: "gallery" , :href => user_path(@user)%>
                                </div>
                            <%else%>
                                <div class='user_show_info_avatar'>
                                    <%= link_to (image_tag("default-user.png")), image_path(url_for("default-user.png")), rel: "gallery" , :href => user_path(@user)%>
                                </div>
                            <%end%>
                        </div>

                        <div class='user_show_info_data'>
                            <div class='user_show_info_name'>
                                <a><%=@user.name%></a>
                            </div>

                            <div class='user_show_info_introduce'>
                                <a><%=@user.introduce%></a>
                            </div>

                            <div class="user_show_info_des">
                                <i><%= bootstrap_icon "briefcase", width: 20, height: 20%></i>
                                <%if @user.job.present?%>
                                    <span><%=@user.job%></span>
                                <%else%>
                                    <span>---</span>
                                <%end%>
                            </div>

                            <div class="user_show_info_des">
                                <i><%= bootstrap_icon "book", width: 20, height: 20%></i>
                                <%if @user.school.present?%>
                                    <span><%=@user.school%></span>
                                <%else%>
                                    <span>---</span>
                                <%end%>
                            </div>

                            <div class="user_show_info_des">
                                <i><%= bootstrap_icon "geo-alt", width: 20, height: 20%></i>
                                <%if @user.address.present?%>
                                    <span><%=@user.address%></span>
                                <%else%>
                                    <span>---</span>
                                <%end%>
                            </div>

                            <div class="user_show_info_des">
                                <i><%= bootstrap_icon "calendar", width: 20, height: 20%></i>
                                <span><%="Tham gia " + @user.created_at.strftime("%B %d, %Y")%></span>
                            </div>
                            
                            <div class="user_show_info_follow_info">
                                <span><%=convert_number_to_human(@user.followers.count)%></span> <a>người theo dõi</a>
                                <span><%=convert_number_to_human(@user.followees.count)%></span> <a>đang theo dõi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-nopadding">
                    <div class="user_profile_tab_link">
                        <ul class="nav">
                            <li class="nav-item">
                                <%if @tab_id == "default" || @tab_id == "UserPostID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserPostID')%>">Bài viết <span><%= convert_number_to_human(find_owner_post_for_user(@user).count)%><span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "UserTopicID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserTopicID')%>">Chủ đề <span><%= convert_number_to_human(find_owner_topic_for_user(@user).count)%><span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "UserTopicFollowID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserTopicFollowID')%>">Chủ đề đang theo dõi <span><%= convert_number_to_human(find_owner_topic_follow_for_user(@user).count)%><span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "UserCommentID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserCommentID')%>">Bình luận <span><%= convert_number_to_human(find_owner_post_comment_for_user(@user).count)%><span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "UserVoteID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserVoteID')%>">Vote <span><%= convert_number_to_human(find_owner_post_vote_for_user(@user).count)%><span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "UserUnvoteID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserUnvoteID')%>">Unvote <span><%= convert_number_to_human(find_owner_post_unvote_for_user(@user).count)%><span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "UserSaveID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserSaveID')%>">Đã lưu <span><%= convert_number_to_human(find_owner_post_save_for_user(@user).count)%><span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "UserFollowingID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserFollowingID')%>">Đang theo dõi <span><%= convert_number_to_human(@user.followers.count)%><span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "UserFollowedID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserFollowedID')%>"></i>Đã theo dõi <span><%= convert_number_to_human(@user.followees.count)%><span></a>
                            </li>

                            <li class="nav-item">
                                <%if @tab_id == "UserNotificationID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserNotificationID')%>"></i>Thông báo<span><%= convert_number_to_human(@user.user_notifications.count)%><span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="user_profile_tab_content">
                        <%if @tab_id == "default" || @tab_id == "UserPostID"%>
                            <div class="user_profile_post_tab">
                                <%find_owner_post_for_user(@user).each do |post|%>
                                    <%= render post%>
                                <%end%>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserTopicID"%>
                            <div class="user_profile_topic_tab">
                                <%find_owner_topic_for_user(@user).each do |topic|%>
                                    <%= render :partial => 'topics/topic', :locals => {:mini_tyle => false}, :object => topic %>
                                <%end%>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserTopicFollowID"%>
                            <div class="user_profile_topic_tab">
                                <%find_owner_topic_follow_for_user(@user).each do |topic|%>
                                    <%= render :partial => 'topics/topic', :locals => {:mini_tyle => false}, :object => topic %>
                                <%end%>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserCommentID"%>
                            <div class="user_profile_comment_tab">
                                <%find_owner_post_comment_for_user(@user).each do |post|%>
                                    <%@post = post%>
                                    <%= render @post%>
                                <%end%>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserVoteID"%>
                            <div class="user_profile_vote_tab">
                                <%find_owner_post_vote_for_user(@user).each do |post|%>
                                    <%= render post%>
                                <%end%>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserUnvoteID"%>
                            <div class="user_profile_unvote_tab">
                                <%find_owner_post_unvote_for_user(@user).each do |post|%>
                                    <%= render post%>
                                <%end%>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserSaveID"%>
                            <div class="user_profile_save_tab">
                                <%find_owner_post_save_for_user(@user).each do |post|%>
                                    <%= render post%>
                                <%end%>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserNotificationID"%>
                            <div class="user_notification_tab">
                                <%@user.user_notifications.each do |user_notification|%>
                                    <%= render user_notification%>
                                <%end%>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserFollowingID"%>
                            <div class="user_following_tab">
                                <div class="row">
                                    <%@user.followers.each do |user|%>
                                        <div class="col-sm-4 col-nopadding">
                                            <%= render user%>
                                        </div>
                                    <%end%>
                                </div>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserFollowedID"%>
                            <div class="user_followed_tab">
                                <div class="row">
                                    <%@user.followees.each do |user|%>
                                        <div class="col-sm-4 col-nopadding">
                                            <%= render user%>
                                        </div>
                                    <%end%>
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>
                <div class="col-sm-4 col-nopadding">
                    <div class="user_profile_suggest_topic">
                        <div class="user_profile_suggest_topic_title">
                            <a>Gợi ý chủ đề dành cho bạn</a>
                        </div>
                        <%@topics.each do |topic|%>
                            <div class="user_profile_suggest_topic_content">
                                <%= render :partial => 'topics/topic', :locals => {:mini_tyle => true}, :object => topic %>
                            </div>
                        <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%else%>
    <div class='user_profile_dasboard'>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-nopadding">
                    <div class='user_show_info_block'>
                        <div class='user_show_info'>
                            <%if @user.cover_image?%>
                                <div class='user_show_info_cover_image'>
                                    <%= link_to (image_tag(@user.cover_image.url)), image_path(url_for(@user.cover_image.url)), rel: "gallery" , :href => user_path(@user)%>
                                </div>
                            <%else%>
                                <div class='user_show_info_cover_image'>
                                    <%= link_to (image_tag("default-cover.jpg")), image_path(url_for("default-cover.jpg")), rel: "gallery" , :href => user_path(@user)%>
                                </div>
                            <%end%>

                            <%if @user.avatar?%>
                                <div class='user_show_info_avatar'>
                                    <%= link_to (image_tag(@user.avatar.url)), image_path(url_for(@user.avatar.url)), rel: "gallery" , :href => user_path(@user)%>
                                </div>
                            <%else%>
                                <div class='user_show_info_avatar'>
                                    <%= link_to (image_tag("default-user.png")), image_path(url_for("default-user.png")), rel: "gallery" , :href => user_path(@user)%>
                                </div>
                            <%end%>
                        </div>

                        <div class='user_show_info_data'>
                            <div class='user_show_info_name'>
                                <a><%=@user.name%></a>
                            </div>

                            <div class='user_show_info_introduce'>
                                <a><%=@user.introduce%></a>
                            </div>

                            <div class="user_show_info_des">
                                <i><%= bootstrap_icon "briefcase", width: 20, height: 20%></i>
                                <%if @user.job.present?%>
                                    <span><%=@user.job%></span>
                                <%else%>
                                    <span>---</span>
                                <%end%>
                            </div>

                            <div class="user_show_info_des">
                                <i><%= bootstrap_icon "book", width: 20, height: 20%></i>
                                <%if @user.school.present?%>
                                    <span><%=@user.school%></span>
                                <%else%>
                                    <span>---</span>
                                <%end%>
                            </div>

                            <div class="user_show_info_des">
                                <i><%= bootstrap_icon "geo-alt", width: 20, height: 20%></i>
                                <%if @user.address.present?%>
                                    <span><%=@user.address%></span>
                                <%else%>
                                    <span>---</span>
                                <%end%>
                            </div>

                            <div class="user_show_info_des">
                                <i><%= bootstrap_icon "calendar", width: 20, height: 20%></i>
                                <span><%="Tham gia " + @user.created_at.strftime("%B %d, %Y")%></span>
                            </div>
                            
                            <div class="user_show_info_follow_info">
                                <span><%=convert_number_to_human(@user.followers.count)%></span> <a>người theo dõi</a>
                                <span><%=convert_number_to_human(@user.followees.count)%></span> <a>đang theo dõi</a>
                            </div>
                        </div>

                        <div class="user_show_info_follow" id="user_follow_<%=current_user.id%>">
                            <%if user_signed_in?%>
                                <% pre_follow = @user.following_users.find { |follow| follow.followee_id == @user.id} %>
                            <%end%>
                            <% if pre_follow %>  
                                <%= button_to user_user_follow_path(@user, pre_follow), method: :delete, remote: true, form_class: "btn_highlight" do%>
                                    <a>Bỏ theo dõi</a>
                                <%end%> 
                            <%else%>
                                <%= button_to user_user_follows_path(@user), method: :post, remote: true, form_class: "btn_normal" do%>
                                    <a>Theo dõi</a>
                                <%end%>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-nopadding">
                    <div class="user_profile_tab_link">
                        <ul class="nav">
                            <li class="nav-item">
                                <%if @tab_id == "default" || @tab_id == "UserPostID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserPostID')%>">Bài viết <span><%= convert_number_to_human(find_owner_post_for_user(@user).count)%><span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "UserCommentID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=user_path(@user, tab_id: 'UserCommentID')%>">Bình luận <span><%= convert_number_to_human(find_owner_post_comment_for_user(@user).count)%><span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="user_profile_tab_content">
                        <%if @tab_id == "default" || @tab_id == "UserPostID"%>
                            <div class="user_profile_post_tab">
                                <%find_owner_post_for_user(@user).each do |post|%>
                                    <%= render post%>
                                <%end%>
                            </div>
                        <%end%>

                        <%if @tab_id == "UserCommentID"%>
                            <div class="user_profile_comment_tab">
                                <%find_owner_post_comment_for_user(@user).each do |post|%>
                                    <%@post = post%>
                                    <%= render @post%>
                                <%end%>
                            </div>
                        <%end%>
                    </div>
                </div>

                <div class="col-sm-4 col-nopadding">
                    <div class="user_profile_suggest_topic">
                        <div class="user_profile_suggest_topic_title">
                            <a>Gợi ý chủ đề dành cho bạn</a>
                        </div>
                        <%@topics.each do |topic|%>
                            <div class="user_profile_suggest_topic_content">
                                <%= render :partial => 'topics/topic', :locals => {:mini_tyle => true}, :object => topic %>
                            </div>
                        <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%end%>