<div class='user_profile_dasboard'>
    <div class="container">
        <div class='user_show_info'>
            <div class="row">
                <div class="col-sm-8">
                    <div class='user_show_info_avatar'>
                        <%if current_user.avatar?%>
                            <%= link_to (image_tag(current_user.avatar.url)), image_path(url_for(current_user.avatar.url)), rel: "gallery" , :href => user_path(current_user)%>
                        <%end%>
                    </div>

                    <div class='user_show_info_data'>
                        <div class='user_show_info_title'>
                            <a><%=current_user.name%></a>
                        </div>
                        <div class='user_show_info_des'>
                            <a><%=current_user.address%></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="user_profile_tab_link">
                    <ul class="nav">
                        <li class="nav-item">
                            <%if @tab_id == "default" || @tab_id == "UserOverviewID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                 
                            <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'UserOverviewID')%>"><i><%= bootstrap_icon "person", width: 24, height: 24%></i>Overview</a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "UserPostID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'UserPostID')%>"><i><%= bootstrap_icon "sticky", width: 20, height: 20%></i>Bài viết</a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "UserCommentID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'UserCommentID')%>"><i><%= bootstrap_icon "chat", width: 20, height: 20%></i>Comments</a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "UserVoteID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'UserVoteID')%>"><i><%= bootstrap_icon "arrow-up-circle", width: 20, height: 20%></i>Vote</a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "UserUnvoteID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'UserUnvoteID')%>"><i><%= bootstrap_icon "arrow-down-circle", width: 20, height: 20%></i>Unvote</a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "UserSaveID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'UserSaveID')%>"><i><%= bootstrap_icon "save", width: 20, height: 20%></i>Save</a>
                        </li>
                    </ul>
                </div>

                <div class="user_profile_tab_content">
                    <%if @tab_id == "default" || @tab_id == "UserOverviewID"%>
                        <div class="user_profile_overview_tab">
                            <%find_owner_post_for_user(current_user).each do |post|%>
                                <%@post = post%>
                                <%= render @post%>
                            <%end%>
                        </div>
                    <%end%>

                    <%if @tab_id == "UserPostID"%>
                        <div class="user_profile_save_job_tab">
                            <div class="user_profile_save_job_label">
                                <strong>Việc làm bạn đang theo dõi</strong>
                            </div>
                        </div>
                    <%end%>

                    <%if @tab_id == "UserCommentID"%>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>