<div id="post_comment_index_vote_unvote_<%=post_comment.id%>">
    <div class="post_comment_index_vote_block">
        <%if user_signed_in?%>
            <% pre_comment_vote = post_comment.post_comment_votes.find { |vote| vote.user_id == current_user.id} %>
        <%end%>
        <% if pre_comment_vote %>  
            <%= button_to post_comment_post_comment_vote_path(post_comment, pre_comment_vote), method: :delete, remote: true do%>
                <i><%= bootstrap_icon "arrow-up-circle-fill", width: 18, height: 18, fill: "#0071e3" %></i>
            <%end%> 
        <%else%>
            <%= button_to post_comment_post_comment_votes_path(post_comment), method: :post, remote: true do%>
                <i><%= bootstrap_icon "arrow-up-circle", width: 18, height: 18, fill: "#888" %></i>
            <%end%> 
        <%end%>
    </div>

    <div class="post_comment_index_vote_unvote_count">
        <span><%=post_comment.post_comment_votes.count - post_comment.post_comment_unvotes.count%></span>
    </div>

    <div class="post_comment_index_unvote_block">
        <%if user_signed_in?%>
            <% pre_comment_unvote = post_comment.post_comment_unvotes.find { |unvote| unvote.user_id == current_user.id} %>
        <%end%>
        <% if pre_comment_unvote %>  
            <%= button_to post_comment_post_comment_unvote_path(post_comment, pre_comment_unvote), method: :delete, remote: true do%>
                <i><%= bootstrap_icon "arrow-down-circle-fill", width: 18, height: 18, fill: "#0071e3" %></i>
            <%end%> 
        <%else%>
            <%= button_to post_comment_post_comment_unvotes_path(post_comment), method: :post, remote: true do%>
                <i><%= bootstrap_icon "arrow-down-circle", width: 18, height: 18, fill: "#888" %></i>
            <%end%> 
        <%end%>
    </div>
</div>