<div class="nav_block">
    <div class="container">
        <div class="nav_logo">
            <!--
            <div class="rounded">
                <%= link_to (image_tag(("logo.png"))), image_path(url_for(("logo.png"))), rel: "gallery" , :href => pages_path%>
            </div>
            -->
            <%= button_to pages_path, method: :get do %>
                <a>HOME</a>
            <%end%>
        </div>

        <div class="nav_search_block">
            <%=form_tag page_search_path, :method => "get" do%>
                <div class="nav_search_input">
                    <a><%= text_field_tag :search, params[:search], required: true, class: 'form-control', placeholder: "Tìm kiếm..."%></a>
                </div>
            <%end%>
        </div>

        <div class="nav_search_block_moblie">
            <%= link_to page_search_path do %>
                <i><%= bootstrap_icon "search", width: 18, height: 18 %></i>
            <%end%>
        </div>

        <%if user_signed_in?%>
            <div class="nav_right_block">
                <div class="nav_post">
                    <%= link_to new_post_path do %>
                        <i><%= bootstrap_icon "plus-circle", width: 24, height: 24 %></i>
                    <%end%>
                </div>

                <div class="nav_category">
                    <%= link_to new_category_path do %>
                        <i><%= bootstrap_icon "plus-circle-dotted", width: 26, height: 26 %></i>
                    <%end%>
                </div>

                <div class="nav_topic">
                    <%= link_to categories_path do %>
                        <i><%= bootstrap_icon "cursor", width: 26, height: 26 %></i>
                    <%end%>
                </div>

                <div class="nav_user_notification">                     
                    <%= link_to user_path(current_user, :tab_id => "UserNotificationID") do %>
                        <i><%= bootstrap_icon "app", width: 24, height: 24%></i><span><%=convert_number_to_human(current_user.user_notifications.count)%></span>
                    <%end%>
                </div>

                <button class="nav_user_avatar_small" onclick="openUserActionMenu()">
                    <%if current_user.avatar?%>
                        <div class="user_avatar_small_img">
                            <%= image_tag current_user.avatar.url %>
                        </div>
                    <%else%>
                        <div class="user_avatar_small_img">
                            <%= image_tag ("default-user.png") %>
                        </div>
                    <%end%>
                </button>

                <div class="user_action_select" id ="user_action_menu">
                    <div class="user_action">
                        <%= button_to user_path(current_user), :method => :get do%>
                            <i><%= bootstrap_icon "person", width: 22, height: 22%></i> <span>Thông tin cá nhân</span>
                        <%end%>
                    </div>
                    <div class="user_action">
                        <%= button_to edit_user_path(current_user), :method => :get do%>
                            <i><%= bootstrap_icon "gear", width: 22, height: 22%></i> <span>Cài đặt tài khoản</span>
                        <%end%>
                    </div>
                    <div class="user_action">
                        <%= button_to destroy_user_session_path, method: :delete do%>
                            <i><%= bootstrap_icon "box-arrow-right", width: 22, height: 22%></i> <span>Đăng xuất</span>
                        <%end%>
                    </div>
                </div>
            </div>
        <%else%>
            <div class="nav_right_block">
                <div class="nav_signup">
                    <%= button_to new_user_registration_path , :method => :get do %>
                        <a>Đăng kí</a>
                    <%end%>
                </div>
                <div class="nav_signin">
                    <%= button_to new_user_session_path, :method => :post do %>
                        <a>Đăng nhập</a>
                    <%end%>
                </div>
            </div>
        <%end%>
    </div>
</div>

<script>
    function openUserActionMenu() {
        var x = document.getElementById("user_action_menu");
        if (x.style.display == "block") 
        {
            x.style.display = "none";
        } 
        else 
        {
            x.style.display = "block";
        }
    }

    window.addEventListener('mouseup', function(event){
        var menu = document.getElementById('user_action_menu');
        if(event.target != menu && event.target.parentNode != menu){
            menu.style.display = 'none';
        }
    });  
</script>
