<div class="home_index_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-nopadding">
                <div class='home_left_block'>
                    <%if user_signed_in?%>
                        <div class="home_new_post">
                            <%if current_user.avatar?%>
                                <div class="home_new_post_user_avatar">
                                    <%= link_to (image_tag(current_user.avatar.url)), image_path(url_for(current_user.avatar.url)), rel: "gallery" , :href => user_path(current_user)%>
                                </div>
                            <%else%>
                                <div class="home_new_post_user_avatar">
                                    <%= link_to (image_tag("default-user.png")), image_path(url_for("default-user.png")), rel: "gallery" , :href => user_path(current_user)%>
                                </div>
                            <%end%>
                            <div class="home_new_post_editor">
                                <%= button_to new_post_path(tab_id: 'PostID'), method: :get do%>
                                    <a><%=current_user.name%>, hôm nay bạn thế nào?</a>
                                <%end%>
                            </div>
                        </div>
                    <%end%>
                    <div class="home_post_sort">
                        <div class="home_post_tab_link">
                            <ul class="nav">
                                <li class="nav-item">
                                    <%if @tab_id == "default" || @tab_id == "PostForYou"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=root_path(tab_id: 'PostForYou')%>"><i><%= bootstrap_icon "megaphone", width: 18, height: 18%></i>For U </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostTrendID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=root_path(tab_id: 'PostTrendID')%>"><i><%= bootstrap_icon "arrow-up-right-square", width: 18, height: 18%></i>Trending </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostNewID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=root_path(tab_id: 'PostNewID')%>"><i><%= bootstrap_icon "lightning", width: 18, height: 18%></i>Mới nhất </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostTopID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=root_path(tab_id: 'PostTopID')%>"><i><%= bootstrap_icon "shift", width: 19, height: 19%></i>Top </a>
                                </li>
                                <%if @tab_id == "PostTopID" || @tab_id == "PostTopWeekID" || @tab_id == "PostTopMonthID" || @tab_id == "PostTopYearID"%>
                                    <li class="nav-item">
                                        <%if @tab_id == "PostTopWeekID"%>
                                            <%active = "active"%>
                                        <%else%> 
                                            <%active = ""%>
                                        <%end%>
                                        <a class="nav-link <%=active%>" href="<%=root_path(tab_id: 'PostTopWeekID')%>">Top tuần</a>
                                    </li>
                                    <li class="nav-item">
                                        <%if @tab_id == "PostTopMonthID"%>
                                            <%active = "active"%>
                                        <%else%> 
                                            <%active = ""%>
                                        <%end%>
                                        <a class="nav-link <%=active%>" href="<%=root_path(tab_id: 'PostTopMonthID')%>">Top tháng</a>
                                    </li>
                                    <li class="nav-item">
                                        <%if @tab_id == "PostTopYearID"%>
                                            <%active = "active"%>
                                        <%else%> 
                                            <%active = ""%>
                                        <%end%>
                                        <a class="nav-link <%=active%>" href="<%=root_path(tab_id: 'PostTopYearID')%>">Top năm</a>
                                    </li>
                                <%end%>
                                <li class="nav-item">
                                    <%if @tab_id == "PostPodID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=root_path(tab_id: 'PostPodID')%>"><i><%= bootstrap_icon "mic", width: 19, height: 19%></i>Podcasts </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="home_post_tab_content">
                        <%if @posts.present?%>
                            <div id="home_infinite_scroll">
                                <%= render @posts %>
                            </div>
                            <div id="home_pagination">
                                <%= link_to_next_page(@posts, 'Xem thêm ->', :remote => true) %>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-nopadding">
                <div class='home_right_top_block'>
                    <div class='home_right_title'>
                        <a>Hot Topic</a>
                    </div>
                    
                    <%@topics.each do |topic|%>
                        <div class="home_right_content">
                            <%= render :partial => 'topics/topic', :locals => {:mini_tyle => true}, :object => topic %>
                        </div>
                    <%end%>
                    
                    <div class='home_right_all_topic'>
                        <%= button_to categories_path, method: :get, form_class: "home_right_all_topic_button" do%>
                            <a>Xem tất cả(<%=convert_number_to_human(Topic.all.count)%>)</a>
                        <%end%> 
                    </div>
                </div>

                <div class='home_right_footer_block'>
                    <%= render 'pages/footer'%>
                </div>
            </div>
        </div>
    </div>
</div>
