<div class="page_index_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class='home_left'>
                    <div class="home_menu_tab_link">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <%if @tab_id == "default" || @tab_id == "MenuTagID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                 
                                <a class="nav-link <%=active%>" href="<%=new_post_path(tab_id: 'MenuTagID')%>">Tag</a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "MenuPostID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=new_post_path(tab_id: 'MenuPostID')%>">Bài viết</a>
                            </li>
                        </ul>
                    </div>

                    <div class="home_menu_tab_content">
                        <%if @tab_id == "default" || @tab_id == "MenuTagID"%>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class='home_middle'>
                    <%@posts.each do |post|%>
                        <%= render post%>
                    <%end%>
                </div>
            </div>
            <div class="col-sm-3">
                <div class='home_right'>
                </div>
            </div>
        </div>
    </div>
</div>
