<div class="home_index_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class='home_left_block'>
                    <div class='home_left_view_tag'>
                        <div class='home_left_view_tag_title'>
                            <a>Tag</a>
                        </div>
                        <div class='home_left_view_tag_button'>
                            <%= button_to tags_path, method: :get do%>
                                <i><%= bootstrap_icon "plus", width: 18, height: 18 %></i>
                                <a>Khám phá</a>
                            <%end%>
                        </div>
                    </div>

                    <div class='home_left_my_tag'>
                        <%if current_user.present?%>
                            <div class='home_left_my_tag_title'>
                                <a>My Tag</a>
                            </div>
                            <%@tags.each do |tag|%>
                                <div class="home_left_my_tag_block">
                                    <a># <%= link_to (tag.name), tag_path(tag) %></a>
                                </div>
                            <%end%>
                        <%else%>
                            <div class='home_left_my_tag_title'>
                                <a>Hot Tag</a>
                            </div>
                            <%@tags.each do |tag|%>
                                <div class="home_left_my_tag_block">
                                    <a># <%= link_to (tag.name), tag_path(tag) %></a>
                                </div>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class='home_middle_block'>
                    <%if current_user.present?%>
                        <div class="home_new_post">
                            <div class="home_new_post_user_avatar checked_<%=find_user_color(current_user.name)%>">
                                <a><%= link_to current_user.name[0].upcase, user_session_path(current_user), class: "home_new_post_user_name_label"%></a>
                            </div>
                            <div class="home_new_post_editor">
                                <%= button_to new_post_path(tab_id: 'PostID'), method: :get do%>
                                    <%=current_user.name%>, bạn đang nghĩ gì?
                                <%end%>
                            </div>
                            <div class="home_new_post_image">
                                <%= button_to new_post_path(tab_id: 'ImageID'), method: :get do%>
                                    <i><%= bootstrap_icon "image", width: 22, height: 22 %></i>
                                <%end%>
                            </div>

                            <div class="home_new_post_link">
                                <%= button_to new_post_path(tab_id: 'LinkID'), method: :get do%>
                                    <i><%= bootstrap_icon "link", width: 24, height: 24 %></i>
                                <%end%>
                            </div>
                        </div>
                    <%end%>
                    <div class="home_post_sort">
                        <div class="home_post_tab_link">
                            <ul class="nav">
                                <li class="nav-item">
                                    <%if @tab_id == "default" || @tab_id == "PostHotID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostHotID')%>"><i><%= bootstrap_icon "bar-chart", width: 18, height: 18%></i>Hot </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostNewID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostNewID')%>"><i><%= bootstrap_icon "lightning", width: 18, height: 18%></i>Mới nhất </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostTopID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostTopID')%>"><i><%= bootstrap_icon "shift", width: 18, height: 18%></i>Top </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostTrendID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostTrendID')%>"><i><%= bootstrap_icon "graph-up", width: 18, height: 18%></i>Trending </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="home_post_tab_content">
                        <%if @tab_id == "default" || @tab_id == "PostHotID"%>
                            <%@posts.each do |post|%>
                                <%@post = post%>
                                <%= render @post%>
                            <%end%>
                        <%end%>

                        <%if @tab_id == "PostNewID"%>
                            <%@posts.reverse.each do |post|%>
                                <%@post = post%>
                                <%= render @post%>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class='home_right_block'>
                    <div class='home_right_title'>
                        <a>Today's Trending</a>
                    </div>
                    <%@posts.each do |post|%>
                        <div class='home_right_content'>
                            <a><%= link_to (post.title), post_path(post) %></a>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
