<div class="page_index_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class='home_left'>
                    <div class='home_left_title'>
                        <a># My Subcription</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class='home_middle'>
                    <div class="home_post_new">
                        <%if current_user.present?%>
                            <div class="home_new_post">
                                <%= button_to new_post_path, method: :get do%>
                                    <i><%= bootstrap_icon "plus", width: 18, height: 18 %></i>
                                    New Post
                                <%end%>
                            </div>
                        <%end%>
                    </div>
                    <div class="home_post_sort">
                        <div class="home_post_tab_link">
                            <ul class="nav">
                                <li class="nav-item">
                                    <%if @tab_id == "default" || @tab_id == "PostHotID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostHotID')%>"><i><%= bootstrap_icon "bar-chart", width: 18, height: 18%></i>Hot </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostNewID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostNewID')%>"><i><%= bootstrap_icon "lightning", width: 18, height: 18%></i>Mới nhất </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostTopID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostTopID')%>"><i><%= bootstrap_icon "shift", width: 18, height: 18%></i>Top </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostTrendID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostTrendID')%>"><i><%= bootstrap_icon "graph-up", width: 18, height: 18%></i>Trending </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="home_post_tab_content">
                        <%if @tab_id == "default" || @tab_id == "PostHotID"%>
                            <%@posts.each do |post|%>
                                <%@post = post%>
                                <%= render @post%>
                            <%end%>
                        <%end%>

                        <%if @tab_id == "PostNewID"%>
                            <%@posts.reverse.each do |post|%>
                                <%= render post%>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class='home_right'>
                    <div class='home_right_title'>
                        <a># Top Tag</a>
                    </div>
                    <%@posts.each do |post|%>
                        <div class='home_right_content'>
                            <a><%= link_to (post.title), post_path(post) %></a>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
