<div class="home_index_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-nopadding">
                <div class='home_left_block'>
                    <%if user_signed_in?%>
                        <div class="home_new_post">
                            <%if current_user.avatar?%>
                                <div class="home_new_post_user_avatar">
                                    <%= link_to (image_tag(current_user.avatar.url)), image_path(url_for(current_user.avatar.url)), rel: "gallery" , :href => user_path(current_user)%>
                                </div>
                            <%else%>
                                <div class="home_new_post_user_avatar">
                                    <%= link_to (image_tag("default-user.png")), image_path(url_for("default-user.png")), rel: "gallery" , :href => user_path(current_user)%>
                                </div>
                            <%end%>
                            <div class="home_new_post_editor">
                                <%= button_to new_post_path(tab_id: 'PostID'), method: :get do%>
                                    <a><%=current_user.name%>, hôm nay bạn thế nào?</a>
                                <%end%>
                            </div>
                        </div>
                    <%end%>
                    <div class="home_post_sort">
                        <div class="home_post_tab_link">
                            <ul class="nav">
                                <li class="nav-item">
                                    <%if @tab_id == "default" || @tab_id == "PostHotID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostHotID')%>"><i><%= bootstrap_icon "megaphone", width: 18, height: 18%></i>Hot </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostNewID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostNewID')%>"><i><%= bootstrap_icon "lightning", width: 18, height: 18%></i>Mới nhất </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostTopID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostTopID')%>"><i><%= bootstrap_icon "shift", width: 19, height: 19%></i>Top </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "PostTrendID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=pages_path(tab_id: 'PostTrendID')%>"><i><%= bootstrap_icon "graph-up", width: 18, height: 18%></i>Trending </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="home_post_tab_content">
                        <%if @tab_id == "default" || @tab_id == "PostHotID"%>
                            <%@post_hots.each do |post|%>
                                <%= render post%>
                            <%end%>
                            <div id="paginate">
                                <%= paginate @post_hots, window: 1, outer_window: 1%>
                            </div>
                        <%end%>

                        <%if @tab_id == "PostNewID"%>
                            <%@post_news.reverse.each do |post|%>
                                <%= render post%>
                            <%end%>
                            <div id="paginate">
                                <%= paginate @post_news, window: 1, outer_window: 1%>
                            </div>
                        <%end%>

                        <%if @tab_id == "PostTopID"%>
                            <%@post_tops.each do |post|%>
                                <%= render post%>
                            <%end%>
                            <div id="paginate">
                                <%= paginate @post_tops, window: 1, outer_window: 1%>
                            </div>
                        <%end%>

                        <%if @tab_id == "PostTrendID"%>
                            <%@post_trends.each do |post|%>
                                <%= render post%>
                            <%end%>
                            <div id="paginate">
                                <%= paginate @post_trends, window: 1, outer_window: 1%>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-nopadding">
                <div class='home_right_top_block'>
                    <div class='home_right_title'>
                        <a>Hot Topic</a>
                    </div>
                    
                    <%@topics.each do |topic|%>
                        <div class="home_right_content">
                            <%= render :partial => 'topics/topic', :locals => {:mini_tyle => true}, :object => topic %>
                        </div>
                    <%end%>
                    
                    <div class='home_right_all_tag'>
                        <%= button_to topics_path, method: :get, form_class: "home_right_all_tag_button" do%>
                            <a>Xem tất cả(<%=convert_number_to_human(Topic.all.count)%>)</a>
                        <%end%> 
                    </div>
                </div>

                <div class='home_right_footer_block'>
                    <%= render 'pages/footer'%>
                </div>
            </div>
        </div>
    </div>
</div>
