<div class="home_search_block">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-nopadding">
                <%=form_tag page_search_path, :method => "get" do%>
                    <div class="home_search_input">
                        <div class="home_search_what">
                            <%= text_field_tag :search, params[:search], required: true, class: 'form-control', placeholder: "Tìm kiếm bài viết, người dùng, tag ..."%>
                        </div>
                    </div>
                <%end%>

                <div class="home_search_tab_link">
                    <ul class="nav">
                        <%if @posts_search.present?%>
                            <li class="nav-item">
                                <%if @tab_id == "default" || @tab_id == "PostSearchID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>
                                <a class="nav-link <%=active%>" href="<%=page_search_path(tab_id: 'PostSearchID')%>">Bài viết <span><%= convert_number_to_human(@posts_search.count)%><span></a>
                            </li>
                        <%end%>
                        <%if @users_search.present?%>
                            <li class="nav-item">
                                <%if @tab_id == "PeopleSearchID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>
                                <a class="nav-link <%=active%>" href="<%=page_search_path(tab_id: 'UserSearchID')%>">Người dùng <span><%= convert_number_to_human(@users_search.count)%><span></a>
                            </li>
                        <%end%>
                        <%if @topics_search.present?%>
                            <li class="nav-item">
                                <%if @tab_id == "TagSearchID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>
                                <a class="nav-link <%=active%>" href="<%=page_search_path(tab_id: 'TagSearchID')%>">Tag <span><%= convert_number_to_human(@topics_search.count)%><span></a>
                            </li>
                        <%end%>
                    </ul>
                </div>

                <div class="home_search_tab_content">
                    <%if @tab_id == "default" || @tab_id == "PostSearchID"%>
                        <%if @posts_search.present?%>
                            <%@posts_search.each do |post|%>
                                <%= render post%>
                            <%end%>
                        <%end%>
                    <%end%>

                    <%if @tab_id == "PeopleSearchID"%>
                        <%if @users_search.present?%>
                            <%@users_search.each do |user|%>
                                <%= render user%>
                            <%end%>
                        <%end%>
                    <%end%>

                    <%if @tab_id == "PostSearchID"%>
                        <%if @topics_search.present?%>
                            <%@topics_search.each do |topic|%>
                                <%= render :partial => 'topics/topic', :locals => {:mini_tyle => false}, :object => topic %>
                            <%end%>
                        <%end%>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>