<div class="new_tag_form">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-nopadding">
	            <div class="new_tag_title">
	                <%if !@is_edit%>
	                    <a>Thêm tag mới</a>
	                <%else%>
	                    <a>Update <%=@tag.name%></a>
	                <%end%>
	            </div>

	            <%= form_for @tag, :html => { :class => "form-horizontal tag" } do |f| %>
		            <div class="new_tag_section">
		                <div class="new_tag_content">
							<div class="new_tag_label">
								<a><%= f.label :name, "Tag name", class: "new_tag_label_name" %></a>
							</div>
		                    <div class="new_tag_input">
		                        <%= f.text_field :name,  autofocus: true, :required => true, class: "form-control", placeholder: " Nhập tag name" %>
		                    </div>
		                </div>
						<div class="new_tag_content">
							<div class="new_tag_label">
								<a><%= f.label :description, "Mô tả", class: "new_tag_label_name" %></a>
							</div>
		                    <div class="new_tag_input">
		                        <%= f.text_area :description, :required => true, class: "form-control-rich-text", placeholder: " Nhập mô tả nội dung tag" %>
		                    </div>
		                </div>
		            </div>

					<div class="new_tag_section">
						<div class="new_tag_content">
							<div class="new_tag_label">
								<a><%= f.label :avatar, "Ảnh đại diện", class: "new_tag_label_name" %></a>
							</div>
		                    <div class="new_tag_input">
		                        <%= f.file_field :avatar, :required => true, class: "form-control"%>
		                    </div>
		                </div>

						<div class="new_tag_content">
							<div class="new_tag_label">
								<a><%= f.label :cover_image, "Ảnh bìa (nếu có)", class: "new_tag_label_name" %></a>
							</div>
		                    <div class="new_tag_input">
		                        <%= f.file_field :cover_image, class: "form-control"%>
		                    </div>
		                </div>
		            </div>

		            <div class="new_tag_submit">
		                <%= f.submit "Submit", class: "new_tag_form_submit" %>
		            </div>
		        <%end%>	
	        </div>
        </div>  
    </div>
</div>