<div class='tag_index_container'>
	<div class='container'>
		<div class='tag_index_new'>
			<%= button_to new_tag_path, method: :get do%>
                New Tag
            <%end%>
		</div>
		<div class='row'>
		    <%@tags.each do |tag|%>
				<div class='col-sm-4'>
					<div class='tag_index_block'>
						<div class='tag_index_info'>
							<div class='tag_index_name'>
								<a># <%= link_to (tag.name), tag_path(tag) %></a>
							</div>
							<div class='tag_index_count'>
								<a><%= tag.posts.count %> bài viết</a><span> · </span>
								<a><%= tag.tag_follows.count %> người theo dõi</a>
							</div>
						</div>
						<div class='tag_index_avatar'>
		    				<%if tag.avatar?%>
								<%= link_to (image_tag(tag.avatar.url)), image_path(url_for(tag.avatar.url)), rel: "gallery" , :href => tag_path(tag)%>
							<%end%>
						</div>
						<div class='tag_index_description'>
							<a><%= tag.description %></a>
						</div>
		    			<div class="tag_index_follow_block" id="tag_follow_<%=tag.id%>">
			                <%if current_user.present?%>
			                    <% pre_follow = tag.tag_follows.find { |follow| follow.user_id == current_user.id} %>
			                <%end%>
			                <% if pre_follow %>  
			                    <%= button_to tag_tag_follow_path(tag, pre_follow, type_param: 'index'), method: :delete, remote: true , form_class: "follow_btn_highlight" do%>
			                        <a>Followed</a>
			                    <%end%> 
			                <%else%>
			                    <%= button_to tag_tag_follows_path(tag, type_param: 'index'), method: :tag, remote: true, form_class: "follow_btn" do%>
			                        <a>Follow</a>
			                    <%end%> 
			                <%end%>
			            </div>
		    		</div>
		    	</div>
		    <%end%>
		</div>
	</div>
</div>