<div class="tag_show_index_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class='tag_show_left'>
                    <div class='tag_show_left_title'>
                        <a># About Tag</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class='tag_show_middle'>
                    <div class="tag_show_post_sort">
                        <div class="tag_show_post_tab_link">
                            <ul class="nav">
                                <li class="nav-item">
                                    <%if @tab_id == "default" || @tab_id == "TagPostHotID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=tag_path(tab_id: 'TagPostHotID')%>"><i><%= bootstrap_icon "bar-chart", width: 18, height: 18%></i>Hot </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "TagPostNewID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=tag_path(tab_id: 'TagPostNewID')%>"><i><%= bootstrap_icon "lightning", width: 18, height: 18%></i>Mới nhất </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "TagPostTopID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=tag_path(tab_id: 'TagPostTopID')%>"><i><%= bootstrap_icon "shift", width: 18, height: 18%></i>Top </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "TagPostTrendID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=tag_path(tab_id: 'TagPostTrendID')%>"><i><%= bootstrap_icon "graph-up", width: 18, height: 18%></i>Trending </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tag_show_post_tab_content">
                        <%if @tab_id == "default" || @tab_id == "TagPostHotID"%>
                            <%@posts.each do |post|%>
                                <%@post = post%>
                                <%= render @post%>
                            <%end%>
                        <%end%>

                        <%if @tab_id == "TagPostNewID"%>
                            <%@posts.reverse.each do |post|%>
                                <%@post = post%>
                                <%= render @post%>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class='tag_show_right'>
                    <div class='tag_show_right_title'>
                        <a># Bài viết cùng chủ đề</a>
                    </div>
                    <%@posts.each do |post|%>
                        <div class='tag_show_right_content'>
                            <a><%= link_to (post.title), post_path(post) %></a>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
