<div class="tag_show_container">
    <div class="container">
        <div class='tag_show_info'>
            <div class="row">
                <div class="col-sm-10">
                    <div class='tag_show_info_cover'>
                        <%if @tag.cover_image?%>
                            <%= link_to (image_tag(@tag.cover_image.url)), image_path(url_for(@tag.cover_image.url)), rel: "gallery" , :href => tag_path(@tag)%>
                        <%else%>
                            <%= link_to (image_tag("default-cover.jpg")), image_path("default-cover.jpg"), rel: "gallery" , :href => tag_path(@tag)%>
                        <%end%>
                    </div>

                    <div class='tag_show_info_avatar'>
                        <%if @tag.avatar?%>
                            <%= link_to (image_tag(@tag.avatar.url)), image_path(url_for(@tag.avatar.url)), rel: "gallery" , :href => tag_path(@tag)%>
                        <%else%>
                        <%end%>
                    </div>

                    <div class='tag_show_info_data'>
                        <div class='tag_show_info_title'>
                            <a><%=@tag.name%></a>
                        </div>
                        <div class='tag_show_info_des'>
                            <a><%=@tag.description%></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="tag_show_follow_block" id="tag_follow_<%=@tag.id%>">
                        <%if user_signed_in?%>
                            <% pre_follow = @tag.tag_follows.find { |follow| follow.user_id == current_user.id} %>
                        <%end%>
                        <% if pre_follow %>  
                            <%= button_to tag_tag_follow_path(@tag, pre_follow), method: :delete, remote: true , form_class: "follow_btn_highlight" do%>
                                <a>Followed</a>
                            <%end%> 
                        <%else%>
                            <%= button_to tag_tag_follows_path(@tag), method: :tag, remote: true, form_class: "follow_btn" do%>
                                <a>Follow</a>
                            <%end%> 
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class='tag_show_middle'>
                    <div class="tag_show_post_sort">
                        <div class="tag_show_post_tab_link">
                            <ul class="nav">
                                <li class="nav-item">
                                    <%if @tab_id == "default" || @tab_id == "TagPostHotID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=tag_path(tab_id: 'TagPostHotID')%>"><i><%= bootstrap_icon "bar-chart", width: 18, height: 18%></i>Hot </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "TagPostNewID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=tag_path(tab_id: 'TagPostNewID')%>"><i><%= bootstrap_icon "lightning", width: 18, height: 18%></i>Mới nhất </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "TagPostTopID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=tag_path(tab_id: 'TagPostTopID')%>"><i><%= bootstrap_icon "shift", width: 18, height: 18%></i>Top </a>
                                </li>
                                <li class="nav-item">
                                    <%if @tab_id == "TagPostTrendID"%>
                                        <%active = "active"%>
                                    <%else%> 
                                        <%active = ""%>
                                    <%end%>
                                    <a class="nav-link <%=active%>" href="<%=tag_path(tab_id: 'TagPostTrendID')%>"><i><%= bootstrap_icon "graph-up", width: 18, height: 18%></i>Trending </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tag_show_post_tab_content">
                        <%if @tab_id == "default" || @tab_id == "TagPostHotID"%>
                            <%@posts.each do |post|%>
                                <%= render post%>
                            <%end%>
                        <%end%>

                        <%if @tab_id == "TagPostNewID"%>
                            <%@posts.reverse.each do |post|%>
                                <%= render post%>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class='tag_show_right'>
                    <div class='tag_show_right_title'>
                        <a>Bài viết khác về <%=link_to ('#'+ @tag.name), tag_path(@tag)%></a>
                    </div>
                    <%@posts.each do |post|%>
                        <div class='tag_show_right_post_block'>
                            <a><%= link_to (post.title), post_path(post) %></a>
                        </div>
                        <div class='tag_show_right_tag_block'>
                            <%post.tags.each do |tag|%>
                                <%= button_to tag_path(tag), method: :get do %>
                                    <a><span>#</span><%=tag.name%></a>
                                <%end%>
                            <%end%>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
