<div id="post_index_vote_<%=@post.id%>">
    <%if current_user.present?%>
        <% pre_vote = @post.post_votes.find { |vote| vote.user_id == current_user.id} %>
    <%end%>
    <% if pre_vote %>  
        <%= button_to post_post_vote_path(@post, pre_vote), method: :delete, remote: true do%>
            <i><%= bootstrap_icon "arrow-up-circle-fill", width: 20, height: 20, fill: "#4f46e5" %></i>
        <%end%> 
    <%else%>
        <%= button_to post_post_votes_path(@post), method: :post, remote: true do%>
            <i><%= bootstrap_icon "arrow-up-circle", width: 20, height: 20, fill: "#888" %></i>
        <%end%> 
    <%end%>
</div>