<%if @type_param == "index" %>
    <div id="topic_follow_<%=topic.id%>">
        <%if user_signed_in?%>
            <% pre_follow = topic.topic_follows.find { |follow| follow.user_id == current_user.id} %>
        <%end%>
        <% if pre_follow %>  
            <%= button_to topic_topic_follow_path(topic, pre_follow), method: :delete, remote: true , form_class: "btn_highlight" do%>
                <a>Đang theo dõi</a>
            <%end%> 
        <%else%>
            <%= button_to topic_topic_follows_path(topic), method: :topic, remote: true, form_class: "btn_normal" do%>
                <a>Theo dõi</a>
            <%end%> 
        <%end%>
    </div>
<%else%>
    <div id="topic_follow_<%=@topic.id%>">
        <%if user_signed_in?%>
            <% pre_follow = @topic.topic_follows.find { |follow| follow.user_id == current_user.id} %>
        <%end%>
        <% if pre_follow %>  
            <%= button_to topic_topic_follow_path(@topic, pre_follow), method: :delete, remote: true , form_class: "btn_highlight" do%>
                <a>Đang theo dõi</a>
            <%end%> 
        <%else%>
            <%= button_to topic_topic_follows_path(@topic), method: :topic, remote: true, form_class: "btn_normal" do%>
                <a>Theo dõi</a>
            <%end%> 
        <%end%>
    </div>
<%end%>