<div class="new_post_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-nopadding">
                <div class="new_post_title">
                    <%if !@is_edit%>
                        <i><%= bootstrap_icon "pencil-square", width: 24, height: 24%></i>
                        <a>Bài viết mới</a>
                    <%else%>
                        <a>Update bài viết <%=@post.title%></a>
                    <%end%>
                </div>

                <div class="new_post_tab_link">
                    <ul class="nav nav-justified">
                        <li class="nav-item">
                            <%if @tab_id == "default" || @tab_id == "PostID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                 
                            <a class="nav-link <%=active%>" href="<%=new_post_path(tab_id: 'PostID')%>"><i><%= bootstrap_icon "card-list", width: 20, height: 20%></i>Bài viết</a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "ImageID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=new_post_path(tab_id: 'ImageID')%>"><i><%= bootstrap_icon "camera", width: 20, height: 20%></i>Hình ảnh</a>
                        </li>

                        <li class="nav-item">
                            <%if @tab_id == "LinkID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=new_post_path(tab_id: 'LinkID')%>"><i><%= bootstrap_icon "link", width: 24, height: 24%></i>Link</a>
                        </li>

                        <li class="nav-item">
                            <%if @tab_id == "PodcastID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=new_post_path(tab_id: 'PodcastID')%>"><i><%= bootstrap_icon "mic", width: 20, height: 20%></i>Podcast</a>
                        </li>
                    </ul>
                </div>

                <div class="new_post_tab_content">
                    <%@select_topic = find_owner_topic_follow_for_user(current_user)%>
                    <%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>
                        <div class="new_post_form">
                            <div class="new_post_section">
                                <div class="new_post_input">
                                    <%= f.text_field :title, :required => true, class: "form-control", placeholder: "Tiêu đề" %>
                                </div>
                            </div>
                        
                            <%if @tab_id == "default" || @tab_id == "PostID"%>
                                <div class="new_post_section">
                                    <div class="new_post_input">
                                        <%= f.rich_text_area :content_rich_text, class: "form-control-rich-text", placeholder: "Nội dung(tùy chọn)" %>
                                    </div>
                                </div>
                            <%end%>
                            
                            <%if @tab_id == "ImageID"%>
                                <div class="new_post_section">
                                    <div class="new_image_input">
                                        <%= f.file_field :image, :multiple => true, name: "post_images[image][]"%>
                                    </div>
                                </div>
                            <%end%>

                            <%if @tab_id == "LinkID"%>
                                <div class="new_post_section">
                                    <div class="new_post_input">
                                        <%= f.text_area :link, :required => true, class: "form-control-rich-text", placeholder: "Link"  %>
                                    </div>
                                </div>
                            <%end%>

                            <%if @tab_id == "PodcastID"%>
                                <div class="new_post_section">
                                    <div class="new_podcast_input">
                                        <%= f.file_field :podcast%>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                            
                        <%if @select_topic.present?%>
                            <div class="new_post_topic_section">
                                <div class="new_post_topic_input">
                                    <%= f.select :topic_ids, @select_topic.collect {|m| [m.name, m.id]}, {:prompt => '-- Chọn chủ đề phù hợp với bài viết --'}, class: "form-control", :multiple => true, :required => true%>
                                </div>
                            </div>
                        <%end%>
                            
                        <div class="new_post_submit">
                            <%= f.submit "Gửi bài viết", class: "new_post_form_submit" %>
                        </div>
                    <%end%>
                </div>
            </div>

            <div class="col-sm-4 col-nopadding">
                <div class="new_post_policy">
                    <div class="new_post_policy_title">
                        <a>Những lưu ý trước khi viết bài</a>
                    </div>
                    <div class="new_post_policy_content">
                        <div class="new_post_policy_content_index">
                            · Không sử dụng từ ngữ mang ý xúc phạm, miệt thị người khác
                        </div>
                        <div class="new_post_policy_content_index">
                            · Không sử dụng từ ngữ mang tính chất kích động, bạo lực
                        </div>
                        <div class="new_post_policy_content_index">
                            · Cư xử và hành động như những gì bạn làm ngoài đời thực
                        </div>
                        <div class="new_post_policy_content_index">
                            · Nhớ ghi nguồn nội dung bạn chia sẻ nếu có
                        </div>
                        <div class="new_post_policy_content_index">
                            · Không đăng tin sai sự thật, vi phạm pháp luật
                        </div>
                        <div class="new_post_policy_content_link">
                            Đọc các quy tắc khi tham gia cộng đồng tại
                            <a href="https://www.firework.vn/posts/policy">thỏa thuận sử dụng </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>