<div class="new_post_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
            <div class="new_post_title">
                <%if !@is_edit%>
                    <a>Bài viết mới</a>
                <%else%>
                    <a>Update bài viết <%=@post.title%></a>
                <%end%>
            </div>

            <div class="new_post_tab_link">
                <ul class="nav nav-justified">
                    <li class="nav-item">
                        <%if @tab_id == "default" || @tab_id == "PostID"%>
                            <%active = "active"%>
                        <%else%> 
                            <%active = ""%>
                        <%end%>                                 
                        <a class="nav-link <%=active%>" href="<%=new_post_path(tab_id: 'PostID')%>"><i><%= bootstrap_icon "sticky", width: 20, height: 20%></i>Bài viết</a>
                    </li>
                    <li class="nav-item">
                        <%if @tab_id == "ImageID"%>
                            <%active = "active"%>
                        <%else%> 
                            <%active = ""%>
                        <%end%>                                     
                        <a class="nav-link <%=active%>" href="<%=new_post_path(tab_id: 'ImageID')%>"><i><%= bootstrap_icon "image", width: 20, height: 20%></i>Hình ảnh</a>
                    </li>

                    <li class="nav-item">
                        <%if @tab_id == "LinkID"%>
                            <%active = "active"%>
                        <%else%> 
                            <%active = ""%>
                        <%end%>                                     
                        <a class="nav-link <%=active%>" href="<%=new_post_path(tab_id: 'LinkID')%>"><i><%= bootstrap_icon "link", width: 24, height: 24%></i>Link</a>
                    </li>
                </ul>
            </div>

            <div class="new_post_tab_content">
                <%if @tab_id == "default" || @tab_id == "PostID"%>
                    <div class="new_post_form">
                        <%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>
                            <div class="new_post_section">
                                <div class="new_post_content">
                                    <div class="new_post_input">
                                        <%= f.text_field :title,  autofocus: true, :required => true, class: "form-control", placeholder: " Nhập tiêu đề bài viết" %>
                                    </div>
                                </div>
                            </div>

                            <div class="new_post_section">
                                <div class="new_post_content">
                                    <div class="new_post_input">
                                        <%= f.cktext_area :content, class: "form-control-rich-text", ckeditor: {toolbar: "full", height: 200}, placeholder: "Nhập nội dung bài viết (ít nhất 3000 từ)" %>
                                    </div>
                                </div>  
                            </div>

                            <%= f.select :tag_ids, Tag.all.collect {|m| [m.name, m.id]}, {}, class: "form-control", :multiple => true%>

                            <div class="new_post_submit">
                                <%= f.submit "Gửi bài viết", class: "new_post_form_submit" %>
                            </div>
                        <%end%>
                    </div>
                <%end%>

                <%if @tab_id == "ImageID"%>
                    <div class="new_image_form">
                        <%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>
                            <div class="new_image_section">
                                <div class="new_image_content">
                                    <div class="new_image_input">
                                        <%= f.text_field :title,  autofocus: true, :required => true, class: "form-control", placeholder: " Nhập tiêu đề bài viết" %>
                                    </div>
                                </div>
                            </div>

                            <div class="new_image_section_upload">
                                <div class="new_image_content">
                                    <div class="image-upload">
                                        <label for="file-input">
                                            <span>Drag image or upload here</span>
                                            <i><%= bootstrap_icon "plus", width: 18, height: 18%>Upload</i>
                                        </label>
                                        <%= f.file_field :image, id:"file-input" %>
                                    </div>
                                </div>
                            </div>

                            <div class="new_image_submit">
                                <%= f.submit "Submit", class: "new_image_form_submit" %>
                            </div>
                        <%end%>
                    </div>
                <%end%>

                <%if @tab_id == "LinkID"%>
                    <div class="new_post_form">
                        <%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>
                            <div class="new_post_section">
                                <div class="new_post_content">
                                    <div class="new_post_input">
                                        <%= f.text_field :title,  autofocus: true, :required => true, class: "form-control", placeholder: " Nhập tiêu đề bài viết" %>
                                    </div>
                                </div>
                            </div>

                            <div class="new_post_section">
                                <div class="new_post_content">
                                    <div class="new_post_input">
                                        <%= f.cktext_area :content, class: "form-control-rich-text", ckeditor: {toolbar: "full", height: 200}, placeholder: "Nhập nội dung bài viết (ít nhất 3000 từ)" %>
                                    </div>
                                </div>  
                            </div>

                            <%= f.select :tag_ids, Tag.all.collect {|m| [m.name, m.id]}, {}, class: "form-control", :multiple => true%>

                            <div class="new_post_submit">
                                <%= f.submit "Gửi bài viết", class: "new_post_form_submit" %>
                            </div>
                        <%end%>
                    </div>
                <%end%>
            </div>
        </div>  
    </div>
</div>