<div class='post_index_block'>
    <div class='post_index_info'>
        <%owner_user = find_owner_user_for_post(post)%>
        <div class='post_index_info_left'>
            <%if owner_user.avatar?%>
                <div class="post_index_user_avatar">
                    <%= link_to (image_tag(owner_user.avatar.url)), image_path(url_for(owner_user.avatar.url)), rel: "gallery" , :href => user_path(owner_user)%>
                </div>
            <%else%>
                <div class="post_index_user_avatar">
                    <%= link_to (image_tag("default-user.png")), image_path(url_for("default-user.png")), rel: "gallery" , :href => user_path(owner_user)%>
                </div>
            <%end%>
        </div>
        <div class='post_index_info_right'>
            <div class="post_index_user_name">
                <a><%= link_to owner_user.name, user_path(owner_user)%></a>
            </div>
            
            <div class="post_index_create">
                <span><%=time_ago_in_words(post.created_at)%></span>
            </div>
        </div>
    </div>
    <div class='post_index_title'>
        <h5><a><%= link_to (post.title), post_path(post) %></a></h5>
    </div>
    
    <%if post.post_images.count > 0%>
        <%post.post_images.each do |post_image|%>
            <div class='post_index_image'>
                <%= link_to (image_tag(post_image.image.url)), image_path(url_for(post_image.image.url)), rel: "gallery" , :href => post_path(post_image)%>
            </div>
        <%end%>
    <%end%>

    <%if post.content?%>
        <div class='post_index_content'>
            <a><%=post.content%></a>
        </div>
    <%end%>

    <%if post.post_links.count > 0%>
        <%post.post_links.each do |post_link|%>
            <div class='post_index_link_block'>
                <div class='post_index_link_image'>
                    <%= link_to (image_tag(post_link.image.to_s)), image_path(url_for(post_link.image.to_s)), rel: "gallery" , :href => url_for(post.link), target: :_blank%>
                </div>

                <div class='post_index_link_right'>
                    <div class='post_index_link_title'>
                        <a><%= link_to post_link.title, url_for(post.link), target: :_blank%></a>
                    </div>
                    <div class='post_index_link_description'>
                        <a><%= link_to post_link.description, url_for(post.link), target: :_blank%></a>
                    </div>

                    <div class='post_index_link_url'>
                        <i><%= bootstrap_icon "box-arrow-in-up-right", width: 14, height: 14%></i>
                        <a><%= link_to get_domain_name(post.link.to_s), url_for(post.link), target: :_blank%></a>
                    </div>
                </div>
            </div>
        <%end%>
    <%end%>

    <div class='post_index_tag_block'>
        <%post.tags.each do |tag|%>
            <%= button_to tag_path(tag), method: :get do %>
                <a><span>#</span><%=tag.name%></a>
            <%end%>
        <%end%>
    </div>

    <div class="post_index_toolbar_block">
        <div class="post_index_vote_unvote_block" id="post_vote_unvote_<%=post.id%>">
            <div class="post_index_vote_block">
                <%if user_signed_in?%>
                    <% pre_vote = post.post_votes.find { |vote| vote.user_id == current_user.id} %>
                <%end%>
                <% if pre_vote %>  
                    <%= button_to post_post_vote_path(post, pre_vote, type_param: 'index'), method: :delete, remote: true do%>
                        <i><%= bootstrap_icon "arrow-up-circle-fill", width: 18, height: 18, fill: "#0071e3" %></i>
                    <%end%> 
                <%else%>
                    <%= button_to post_post_votes_path(post, type_param: 'index'), method: :post, remote: true do%>
                        <i><%= bootstrap_icon "arrow-up-circle", width: 18, height: 18, fill: "#333" %></i>
                    <%end%> 
                <%end%>
            </div>

            <div class="post_index_vote_unvote_count">
                <span><%=post.post_votes.count - post.post_unvotes.count%></span>
            </div>

            <div class="post_index_unvote_block">
                <%if user_signed_in?%>
                    <% pre_unvote = post.post_unvotes.find { |unvote| unvote.user_id == current_user.id} %>
                <%end%>
                <% if pre_unvote %>  
                    <%= button_to post_post_unvote_path(post, pre_unvote, type_param: 'index'), method: :delete, remote: true do%>
                        <i><%= bootstrap_icon "arrow-down-circle-fill", width: 18, height: 18, fill: "#0071e3" %></i>
                    <%end%> 
                <%else%>
                    <%= button_to post_post_unvotes_path(post, type_param: 'index'), method: :post, remote: true do%>
                        <i><%= bootstrap_icon "arrow-down-circle", width: 18, height: 18, fill: "#333" %></i>
                    <%end%> 
                <%end%>
            </div>
        </div>

        <div class="post_index_comment_block">
            <%= button_to post_path(post), method: :get, form_class: "post_index_comment" do%>
                <i><%= bootstrap_icon "chat", width: 18, height: 18, fill: "#333" %></i>
                <a><%= post.post_comments.count%></a> 
            <%end%> 
        </div>

        <div class="post_index_follow_block" id="post_follow_<%=post.id%>">
            <%if user_signed_in?%>
                <% pre_follow = post.post_follows.find { |follow| follow.user_id == current_user.id} %>
            <%end%>
            <% if pre_follow %>  
                <%= button_to post_post_follow_path(post, pre_follow, type_param: 'index'), method: :delete, remote: true do%>
                    <i><%= bootstrap_icon "bookmark-fill", width: 17, height: 17, fill: "#0071e3" %></i>
                <%end%> 
            <%else%>
                <%= button_to post_post_follows_path(post, type_param: 'index'), method: :post, remote: true do%>
                    <i><%= bootstrap_icon "bookmark", width: 17, height: 17, fill: "#333" %></i>
                <%end%> 
            <%end%>
        </div>

        <div class="post_index_share_block">
            <%= button_to post_path(post), method: :get, form_class: "post_index_share" do%>
                <i><%= bootstrap_icon "arrow-repeat", width: 20, height: 20, fill: "#333" %></i>
            <%end%> 
        </div>
    </div>

</div>