<% content_for :meta_title, @post.title %>
<%if @post.content_rich_text%>
	<% content_for :meta_description, @post.content_rich_text %>
<%end%>

<div class='post_show_container'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-8 col-nopadding'>
				<div class='post_show_left_block'>
				    <div class='post_show_info'>
				        <div class='post_show_info_left'>
							<%if @owner_post_user.avatar?%>
                                <div class="post_show_user_avatar">
                                    <%= link_to (image_tag(@owner_post_user.avatar.url)), image_path(url_for(@owner_post_user.avatar.url)), rel: "gallery" , :href => user_path(@owner_post_user)%>
                                </div>
							<%else%>
								<div class="post_show_user_avatar">
									<%= link_to (image_tag("default-user.png")), image_path(url_for("default-user.png")), rel: "gallery" , :href => user_path(@owner_post_user)%>
                                </div>
							<%end%>
				        </div>
				        <div class='post_show_info_right'>
				            <div class="post_show_user_name">
				                <a><%= link_to @owner_post_user.name, user_path(@owner_post_user)%></a>
				            </div>
				            <div class="post_show_create">
								<span><%=@post.created_at.strftime("%B %d")%> · <%=time_ago_in_words(@post.created_at)%></span>
				            </div>
				        </div>
				    </div>

				    <div class='post_show_title'>
				        <%if @post.podcast?%>
							<span><i><%= bootstrap_icon "mic", width: 16, height: 16%></i> Podcast</span><a><%= @post.title %></a>
						<%else%>
							<a><%= @post.title %></a>
						<%end%>
				    </div>

					<%if @post.post_links.count > 0%>
						<%@post.post_links.each do |post_link|%>
							<div class='post_show_link_block'>
								<div class='post_show_link_image'>
									<%if post_link.image.to_s.empty?%>
										<div class='post_show_link_image_default'>
											<%= link_to (image_tag("default-image-lg.jpg")), image_path(url_for("default-image-lg.jpg")), rel: "gallery" , :href => url_for(@post.link), target: :_blank%>
										</div>
									<%else%>
										<%= link_to (image_tag(post_link.image.to_s)), image_path(url_for(post_link.image.to_s)), rel: "gallery" , :href => url_for(@post.link), target: :_blank%>
									<%end%>
								</div>

								<div class='post_show_link_right'>
									<%if !post_link.title.to_s.empty?%>
										<div class='post_show_link_title'>
											<a><%= link_to post_link.title, url_for(@post.link), target: :_blank%></a>
										</div>
									<%end%>
									
									<%if !post_link.description.to_s.empty?%>
										<div class='post_show_link_description'>
											<a><%= link_to truncate(strip_tags(post_link.description), length: 300), url_for(@post.link), target: :_blank%></a>
										</div>
									<%end%>

									<div class='post_show_link_url'>
										<i><%= bootstrap_icon "link-45deg", width: 18, height: 18%></i>
										<a><%= link_to get_domain_name(@post.link.to_s), url_for(@post.link), target: :_blank%></a>
									</div>
								</div>
							</div>
						<%end%>
					<%end%>

					<%if @post.post_images.count > 0 && @post.post_images.count == 1%>
						<%@post.post_images.each do |post_image|%>
							<div class='post_show_image'>
								<%= image_tag(post_image.image.url)%>
							</div>
						<%end%>
					<%elsif @post.post_images.count > 0%>
						<div class='post_show_image'>
							<div id="carouselImageIndicators" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carouselImageIndicators" data-slide-to="0" class="active"></li>
									<li data-target="#carouselImageIndicators" data-slide-to="1"></li>
									<li data-target="#carouselImageIndicators" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img class="d-block w-100" src="<%=url_for(@post.post_images.first.image.url)%>">
									</div>
									<%@post.post_images.each do |post_image|%>
										<div class="carousel-item">
											<img class="d-block w-100" src="<%=url_for(post_image.image.url)%>">
										</div>
									<%end%>
								</div>
								<a class="carousel-control-prev" href="#carouselImageIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselImageIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					<%end%>

					<%if @post.podcast?%>
						<div class='post_show_podcast'>
							<%=audio_tag(@post.podcast.url, autoplay: false, controls: true)%>
						</div>
					<%end%>

					<%if @post.content_rich_text.present?%>
						<div class='post_show_content'>
							<a><%=@post.content_rich_text%></a>
						</div>
					<%end%>

					<%if @post.post_shared_id?%>
						<div class='post_show_shared'>
							<%@post_shared = Post.friendly.find(@post.post_shared_id)%>
							<%= render :partial => 'posts/post_share', :object => @post_shared %>
						</div>
					<%end%>

					<div class='post_show_topic_link_block'>
						<%@post.topics.each do |topic|%>
							<div class='post_show_topic_link'>
								<a><%= link_to (topic.name), topic_path(tag) %></a>
							</div>
						<%end%>
					</div>

					<div class="post_show_toolbar_block">
						<div class="post_show_toolbar_left">
							<div class="post_show_upvote_downvote_conatainer">
								<div class="post_show_upvote_downvote_block" id="post_upvote_downvote_<%=@post.id%>">
									<div class="post_show_upvote_block">
										<%if user_signed_in?%>
											<% upvote = @post.post_votes.find { |vote| (vote.user_id == current_user.id) && (vote.vote_type == 1)} %>
											<% if upvote %>  
												<%= button_to post_post_votes_path(@post, vote_type: -1), method: :post, remote: true, form_class: "btn_highlight" do%>
													<i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
												<%end%> 
											<%else%>
												<%= button_to post_post_votes_path(@post, vote_type: 1), method: :post, remote: true, form_class: "btn_normal" do%>
													<i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
												<%end%> 
											<%end%>
										<%else%>
											<button type="button" class="btn_normal" data-toggle="modal" data-target="#buttonModalLoginCenter">
												<i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
											</button>
										<%end%>
									</div>

									<div class="post_show_upvote_downvote_count">
										<span><%=convert_number_to_human(count_post_vote(@post))%></span>
									</div>

									<div class="post_show_downvote_block">
										<%if user_signed_in?%>
											<% downvote = @post.post_votes.find { |vote| (vote.user_id == current_user.id) && (vote.vote_type == 0)} %>
											<% if downvote %>  
												<%= button_to post_post_votes_path(@post, vote_type: -1), method: :post, method: :delete, remote: true, form_class: "btn_highlight" do%>
													<i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
												<%end%> 
											<%else%>
												<%= button_to post_post_votes_path(@post, vote_type: 0), method: :post, remote: true, form_class: "btn_normal" do%>
													<i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
												<%end%> 
											<%end%>
										<%else%>
											<button type="button" class="btn_normal" data-toggle="modal" data-target="#buttonModalLoginCenter">
												<i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
											</button>
										<%end%>
									</div>
								</div>
							</div>
							<div class="post_show_comment_block">
								<%if user_signed_in?%>
									<button class="post_show_reply_btn" onclick="myFunctionReplyPost('post_show_comment_input_' + <%=@post.id.to_s%>)">
										<i><%= bootstrap_icon "chat", width: 19, height: 19%></i>
										<a><%= convert_number_to_human(@post.post_comments.count)%></a>
									</button>
								<%else%>
									<button type="button" class="post_show_reply_btn" data-toggle="modal" data-target="#buttonModalLoginCenter">
										<i><%= bootstrap_icon "chat", width: 19, height: 19%></i>
										<a><%= convert_number_to_human(@post.post_comments.count)%></a>
									</button>
								<%end%>
							</div>

							<div class="post_show_share_block">
								<%if user_signed_in?%>
									<%= link_to new_post_path(:post_shared_id => @post.id, :tab_id => 'PostID'), method: :get, form_class: "post_show_share" do%>
										<i><%= bootstrap_icon "arrow-repeat", width: 22, height: 22%></i>
										<span><%=convert_number_to_human(@post.share_count)%></span>
									<%end%>
								<%else%>
									<button type="button" class="post_show_share" data-toggle="modal" data-target="#buttonModalLoginCenter">
										<i><%= bootstrap_icon "arrow-repeat", width: 22, height: 22%></i>
										<span><%=convert_number_to_human(@post.share_count)%></span>
									</button>
								<%end%>
							</div>
						</div>
						
						<div class="post_show_toolbar_right">
							<div class="post_show_follow_block" id="post_follow_<%=@post.id%>">
								<%if user_signed_in?%>
									<% pre_follow = @post.post_follows.find { |follow| follow.user_id == current_user.id} %>
									<% if pre_follow %>  
										<%= button_to post_post_follow_path(@post, pre_follow), method: :delete, remote: true, form_class: "btn_highlight" do%>
											<i><%= bootstrap_icon "save2-fill", width: 17, height: 17%></i>
										<%end%> 
									<%else%>
										<%= button_to post_post_follows_path(@post), method: :post, remote: true, form_class: "btn_normal" do%>
											<i><%= bootstrap_icon "save2", width: 17, height: 17%></i>
										<%end%> 
									<%end%>
								<%else%>
									<button type="button" class="btn_normal" data-toggle="modal" data-target="#buttonModalLoginCenter">
										<i><%= bootstrap_icon "save2", width: 17, height: 17%></i>
									</button>
								<%end%>
							</div>
							<div class='post_show_info_action'>
								<button class="post_show_option_btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i><%= bootstrap_icon "three-dots", width: 18, height: 18%></i>
								</button>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
									<div class="dropdown-item">
										<button type="button" class="btn" data-toggle="modal">
											Chia sẻ Facebook <%= facebook_button %>
										</button>
									</div>
									<div class="dropdown-item">
										<button type="button" class="btn" data-toggle="modal">
											Chia sẻ Twitter <%= twitter_button %>
										</button>
									</div>
									<div class="dropdown-item">
										<button type="button" class="btn" data-toggle="modal">
											Chia sẻ Linkedin <%= linkedin_button %>
										</button>
									</div>
									<div class="dropdown-item">
										<%if user_signed_in?%>
											<button type="button" class="btn" data-toggle="modal" data-target="#buttonModalPostCenter">
												Báo xấu
											</button>
										<%else%>
											<button type="button" class="btn" data-toggle="modal" data-target="#buttonModalLoginCenter">
												Báo xấu
											</button>
										<%end%>
									</div>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="buttonModalPostCenter" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<%= render :partial => 'post_reports/form', object: @post %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				    <div class="post_show_new_comment_block" id ="post_show_comment_input_<%=@post.id.to_s%>">
				        <%= form_for([@post, PostComment.new], remote: true) do |f| %>
				            <div class="post_show_comment_section">
				                <div class="post_show_comment_input">
				                    <%= f.text_area :content, :required =>true, class: "form-control", placeholder: "Nhập bình luận tại đây..." %>
				                </div>

				                <div class="post_show_comment_submit">
				                    <%= f.submit "Gửi", class: "post_show_comment_submit_btn" %>
				                </div>
				            </div>
				        <%end%>
				    </div>

					<div class="post_show_comment_container">
						<div class="post_show_comment_count">
							<a>Sắp xếp theo: </a>
						</div>

						<div class="post_show_comment_sort">
							<div class="post_show_comment_tab_link">
								<ul class="nav">
									<li class="nav-item dropdown">
										<%if @tab_id == "default" || @tab_id == "PostCommentBest"%>
											<%dropdown_name = "Tốt nhất"%>
										<%elsif @tab_id == "PostCommentNew"%>
											<%dropdown_name = "Mới nhất"%>
										<%elsif @tab_id == "PostCommentTop"%>
											<%dropdown_name = "Top"%>
										<%elsif @tab_id == "PostCommentOld"%>
											<%dropdown_name = "Cũ nhất"%>
										<%end%>

										<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%=dropdown_name%></a>
										<div class="dropdown-menu">
											<%if @tab_id == "default" || @tab_id == "PostCommentBest"%>
												<%active = "active"%>
											<%else%> 
												<%active = ""%>
											<%end%>
											<a class="dropdown-item <%=active%>" href="<%=post_path(@post, tab_id: 'PostCommentBest')%>">Tốt nhất</a>
											
											<%if @tab_id == "PostCommentNew"%>
												<%active = "active"%>
											<%else%> 
												<%active = ""%>
											<%end%>
											<a class="dropdown-item <%=active%>" href="<%=post_path(@post, tab_id: 'PostCommentNew')%>">Mới nhất
											
											<%if @tab_id == "PostCommentTop"%>
												<%active = "active"%>
											<%else%> 
												<%active = ""%>
											<%end%>
											<a class="dropdown-item <%=active%>" href="<%=post_path(@post, tab_id: 'PostCommentTop')%>">Top</a>
											
											<%if @tab_id == "PostCommentOld"%>
												<%active = "active"%>
											<%else%> 
												<%active = ""%>
											<%end%>
											<a class="dropdown-item <%=active%>" href="<%=post_path(@post, tab_id: 'PostCommentOld')%>">Cũ nhất</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="post_show_comment_tab_content">
							<div class="post_show_comment_render" id="post_show_comment_index_<%=@post.id%>">
								<%if @post.post_comments.count > 0%>
									<%=render @post_comments%>
								<%else%>
									<div class="post_show_comment_not_found_block">
										<div class="post_show_comment_not_found_icon">
											<i><%= bootstrap_icon "chat-square-dots", width: 24, height: 24%></i>
										</div>
										<div class="post_show_comment_not_found">
											<span>Hãy là người đầu tiên đưa ra bình luận</span>
										</div>
									</div>
								<%end%>
							</div>

							<%remain_item = @post_comments.total_count - (@post_comments.current_page * 10)%>
							<%remain_item = "Xem thêm" + " " + remain_item.to_s + " " + "bình luận khác"%>
							<%if @post_comments.total_count > 10%>
								<div class="post_show_comment_paginate" id="post_comment_pagination">
									<%= link_to_next_page(@post_comments, remain_item.to_s, :remote => true) %>
								</div>
							<%end%>
						</div>
					</div>

				    <script>
						function myFunctionReplyPost(id) {
							var x = document.getElementById(id);
							if (x.style.display == "block") 
							{
								x.style.display = "none";
							} 
							else 
							{
								x.style.display = "block";
							}
						}
					</script>
				</div>
			</div>
			<div class='col-sm-4 col-nopadding'>
				<div class='post_show_right_block_user'>
					<div class='post_show_right_info'>
				        <div class='post_show_right_info_left'>
							<%if @owner_post_user.avatar?%>
                                <div class="post_show_right_user_avatar">
                                    <%= link_to (image_tag(@owner_post_user.avatar.url)), image_path(url_for(@owner_post_user.avatar.url)), rel: "gallery" , :href => user_path(@owner_post_user)%>
                                </div>
							<%else%>
				            	<div class="post_show_right_user_avatar">
									<%= link_to (image_tag("default-user.png")), image_path(url_for("default-user.png")), rel: "gallery" , :href => user_path(@owner_post_user)%>
                                </div>		
							<%end%>
				        </div>
				        <div class='post_show_right_info_right'>
				            <div class="post_show_right_user_name">
								<a><%=link_to (@owner_post_user.name), user_path(@owner_post_user) %></a>
				            </div>
				        </div>
				    </div>

					<div class="post_show_right_user_info_block">
						<div class="post_show_right_user_info">
							<div class="post_show_right_user_info_label">
								<a><i><%= bootstrap_icon "briefcase", width: 20, height: 20%></i>VIỆC LÀM</a>
							</div>
							<div class="post_show_right_user_info_des">
								<%if @owner_post_user.job.present?%>
									<span><%=@owner_post_user.job%></span>
								<%else%>
									<span>---</span>
								<%end%>
							</div>
						</div>

						<div class="post_show_right_user_info">
							<div class="post_show_right_user_info_label">
								<a><i><%= bootstrap_icon "book", width: 20, height: 20%></i>HỌC VẤN</a>
							</div>
							<div class="post_show_right_user_info_des">
								<%if @owner_post_user.school.present?%>
									<span><%=@owner_post_user.school%></span>
								<%else%>
									<span>---</span>
								<%end%>
							</div>
						</div>

						<div class="post_show_right_user_info">
							<div class="post_show_right_user_info_label">
								<a><i><%= bootstrap_icon "geo-alt", width: 20, height: 20%></i>ĐỊA CHỈ</a>
							</div>
							<div class="post_show_right_user_info_des">
								<%if @owner_post_user.address.present?%>
									<span><%=@owner_post_user.address%></span>
								<%else%>
									<span>---</span>
								<%end%>
							</div>
						</div>

						<div class="post_show_right_user_info">
							<div class="post_show_right_user_info_label">
								<a><i><%= bootstrap_icon "calendar", width: 18, height: 18%></i>NGÀY THAM GIA</a>
							</div>
							<div class="post_show_right_user_info_des">
								<span><%=@owner_post_user.created_at.strftime("%B %d, %Y")%></span>
							</div>
						</div>
					</div>
					
					<%if user_signed_in?%>
						<%if current_user.id != @owner_post_user.id%>
							<div class="post_show_right_user_follow" id="user_follow_<%=@owner_post_user.id%>">
								<% pre_follow = @owner_post_user.followed_users.find { |follow| follow.followee_id == current_user.id} %>
								<% if pre_follow %>  
									<%= button_to user_user_follow_path(@owner_post_user, pre_follow), method: :delete, remote: true, form_class: "btn_highlight" do%>
										<a>Đang theo dõi</a>
									<%end%> 
								<%else%>
									<%= button_to user_user_follows_path(@owner_post_user), method: :post, remote: true, form_class: "btn_normal" do%>
										<a>Theo dõi</a>
									<%end%>
								<%end%>
							</div>
						<%end%>
					<%else%>
						<div class="post_show_right_user_follow">
							<button type="button" class="btn_normal" data-toggle="modal" data-target="#buttonModalLoginCenter">
								<a>Theo dõi</a>
							</button>
						</div>
					<%end%>
				</div>

				<%if @user_post_relateds.present? && @user_post_relateds.count > 0%>
					<div class='post_show_right_user_post'>
						<div class='post_show_right_title'>
							<a>Bài viết khác từ <%=link_to (@owner_post_user.name), user_path(@owner_post_user) %></a>
						</div>
						<%@user_post_relateds.first(10).each do |post|%>
							<div class='post_show_right_content'>
								<div class='post_show_right_post_block'>
									<a><%= link_to (post.title), post_path(post) %></a>
								</div>
								<div class='post_show_right_topic_block'>
									<%post.topics.each do |topic|%>
										<%= button_to topic_path(topic), method: :get do %>
											<a><%=topic.name%></a>
										<%end%>
									<%end%>
								</div>
							</div>
						<%end%>
					</div>
				<%end%>
			</div>
		</div>
	</div>
</div>