<div class='post_show_container'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-1'>
				<div class="post_show_left_block">
					<div class="post_show_toolbar_block">
				        <div class="post_show_vote_unvote_block">
				            <div class="post_show_vote_block">
				                <% pre_vote = @post.post_votes.find { |vote| vote.user_id == current_user.id} %>
				                <% if pre_vote %>  
				                    <%= button_to post_post_vote_path(@post, pre_vote), method: :delete, remote: true do%>
				                        <i><%= bootstrap_icon "arrow-up-circle-fill", width: 24, height: 24, fill: "#4f46e5" %></i>
				                    <%end%> 
				                <%else%>
				                    <%= button_to post_post_votes_path(@post), method: :@post, remote: true do%>
				                        <i><%= bootstrap_icon "arrow-up-circle", width: 24, height: 24, fill: "#888" %></i>
				                    <%end%> 
				                <%end%>
				            </div>

				            <a class="post_show_vote_unvote_count">
				                <span><%=@post.post_votes.count - @post.post_unvotes.count%></span>
				            </a>

				            <div class="post_show_unvote_block">
				                <% pre_unvote = @post.post_unvotes.find { |unvote| unvote.user_id == current_user.id} %>
				                <% if pre_unvote %>  
				                    <%= button_to post_post_unvote_path(@post, pre_unvote), method: :delete, remote: true do%>
				                        <i><%= bootstrap_icon "arrow-down-circle-fill", width: 24, height: 24, fill: "#4f46e5" %></i>
				                    <%end%> 
				                <%else%>
				                    <%= button_to post_post_unvotes_path(@post), method: :@post, remote: true do%>
				                        <i><%= bootstrap_icon "arrow-down-circle", width: 24, height: 24, fill: "#888" %></i>
				                    <%end%> 
				                <%end%>
				            </div>
				        </div>

				        <div class="post_show_comment_block">
				            <%= button_to post_path(@post), method: :get, form_class: "post_show_comment" do%>
				                <i><%= bootstrap_icon "chat", width: 22, height: 22, fill: "#666" %></i>
				                <span><%= @post.post_comments.count%></span> 
				            <%end%> 
				        </div>

				        <div class="post_show_save_block">
				            <%= button_to post_path(@post), method: :get, form_class: "post_show_save" do%>
				                <i><%= bootstrap_icon "bookmark", width: 22, height: 22, fill: "#666" %></i>
				                <span><%= @post.post_comments.count%></span> 
				            <%end%> 
				        </div>

				        <div class="post_show_share_block">
				            <%= button_to post_path(@post), method: :get, form_class: "post_show_share" do%>
				                <i><%= bootstrap_icon "arrow-repeat", width: 26, height: 26, fill: "#666" %></i>
				            <%end%> 
				        </div>
				    </div>
				 </div>	
			</div>	
			<div class='col-sm-7'>
				<div class='post_show_middle_block'>
				    <div class='post_show_info'>
				        <%owner_user = find_owner_user(@post.user_id)%>
				        <div class='post_show_info_left'>
				            <div class="post_show_user_avatar checked_<%=find_user_color(owner_user.name)%>">
				                <a><%= link_to owner_user.name[0], user_session_path(owner_user), class: "post_show_user_name_label"%></a>
				            </div>
				        </div>
				        <div class='post_show_info_right'>
				            <div class="post_show_user_name">
				                <a><%=owner_user.name%></a>
				            </div>
				            <div class="post_show_create">
				                <span><%=time_ago_in_words(owner_user.created_at)%></span>
				            </div>
				        </div>
				    </div>
				    <div class='post_show_title'>
				        <a><%= @post.title%></a>
				    </div>
				    <div class='post_show_content'>
				        <a><%=@post.content%></a>
				    </div>

				    <div class="post_show_new_comment_block">
				        <%= form_for([@post, PostComment.new], remote: true) do |f| %>
				            <div class="post_show_comment_section">
				                <div class="post_show_comment_input">
				                    <%= f.text_area :content, :required =>true, class: "form-control", placeholder: "Nhập bình luận của bạn tại đây" %>
				                </div>

				                <div class="post_show_comment_submit">
				                    <%= f.submit "Gửi bình luận", class: "post_show_comment_submit" %>
				                </div>
				            </div>
				        <%end%>
				    </div>
				    
				    <div class="post_show_comment_render" id="post_show_comment_index_<%=@post.id%>">
				        <%= render @post.post_comments %>
				    </div>

				    <script>
				        function myFunctionPostComment(id) {
				            var x = document.getElementById(id);
				            if (x.style.display == "block") 
				            {
				                x.style.display = "none";
				            } 
				            else 
				            {
				                x.style.display = "block";
				            }
				        }
				    </script>
				</div>
			</div>
			<div class='col-sm-4'>
				<div class='post_show_right_block'>
					<a> About </a>
				</div>
			</div>
		</div>
	</div>
</div>