<div class="new_post_report_form">
    <div class="container">
        <div class="col-sm-8 col-nopadding">
            <div class="new_post_report_title">
                <a>Thông báo bài xấu</a>
            </div>
            <div class="new_post_report_new" id="new_post_report_input_reply_<%=post_report.id.to_s%>">
                <%= form_for([@post, PostReport.new], remote: true) do |f| %>
                    <div class="new_post_report_section">
                        <div class="new_post_report_label">
                            <a><%= f.label :report_type, "Lý do vi phạm", class: "new_post_report_label" %></a>
                        </div>
                        <div class="new_post_report_input">
                            <%= f.select(:report_type, options_for_select([['Dùng tiếng Việt không dấu', 1], 
                                                                    ['Vi phạm nội quy', 2], 
                                                                    ['Cố tình spam, làm hỏng nội dung bài viết', 3], 
                                                                    ['Sử dụng từ ngữ thô tục, xúc phạm', 4], 
                                                                    ['Nội dung liên quan tới chính trị', 5], 
                                                                    ['Nội dung gây kích động bạo lực', 6]]), 
                                                                    {:include_blank => '--Chọn lý do--'}, { :class => 'form-control'}) %>
                        </div>
                    </div>
                    <div class="new_post_report_section">
                        <div class="new_post_report_label">
                            <a><%= f.label :report_content, "Lý do khác", class: "new_post_report_label" %></a>
                        </div>
                        <div class="new_post_report_input">
                            <%= f.text_area :report_content, :required =>true, class: "form-control", placeholder: "Thêm lý do khác" %>
                        </div>
                    </div>
                    
                    <div class="new_post_report_submit">
                        <%= f.submit "Gửi", class: "new_post_report_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>