<%if @type_param == "index" %>
    <div id="post_vote_unvote_<%=post.id%>">
        <div class="post_index_vote_block">
            <%if user_signed_in?%>
                <% pre_vote = post.post_votes.find { |vote| vote.user_id == current_user.id} %>
            <%end%>
            <% if pre_vote %>  
                <%= button_to post_post_vote_path(post, pre_vote, type_param: 'index'), method: :delete, remote: true, form_class: "btn_highlight" do%>
                    <i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
                <%end%> 
            <%else%>
                <%= button_to post_post_votes_path(post, type_param: 'index'), method: :post, remote: true, form_class: "btn_normal" do%>
                    <i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
                <%end%> 
            <%end%>
        </div>

        <div class="post_index_vote_unvote_count">
            <span><%=convert_number_to_human(post.post_votes.count - post.post_unvotes.count)%></span>
        </div>

        <div class="post_index_unvote_block">
            <%if user_signed_in?%>
                <% pre_unvote = post.post_unvotes.find { |unvote| unvote.user_id == current_user.id} %>
            <%end%>
            <% if pre_unvote %>  
                <%= button_to post_post_unvote_path(post, pre_unvote, type_param: 'index'), method: :delete, remote: true, form_class: "btn_highlight" do%>
                    <i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
                <%end%> 
            <%else%>
                <%= button_to post_post_unvotes_path(post, type_param: 'index'), method: :post, remote: true, form_class: "btn_normal" do%>
                    <i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
                <%end%> 
            <%end%>
        </div>
    </div>
<%else%>
    <div id="post_vote_unvote_<%=@post.id%>">
        <div class="post_show_vote_block">
            <%if user_signed_in?%>
                <% pre_vote = @post.post_votes.find { |vote| vote.user_id == current_user.id} %>
            <%end%>
            <% if pre_vote %>  
                <%= button_to post_post_vote_path(@post, pre_vote), method: :delete, remote: true, form_class: "btn_highlight" do%>
                    <i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
                <%end%> 
            <%else%>
                <%= button_to post_post_votes_path(@post), method: :post, remote: true, form_class: "btn_normal" do%>
                    <i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
                <%end%> 
            <%end%>
        </div>

        <div class="post_show_vote_unvote_count">
            <span><%=convert_number_to_human(@post.post_votes.count - @post.post_unvotes.count)%></span>
        </div>

        <div class="post_show_unvote_block">
            <%if user_signed_in?%>
                <% pre_unvote = @post.post_unvotes.find { |unvote| unvote.user_id == current_user.id} %>
            <%end%>
            <% if pre_unvote %>  
                <%= button_to post_post_unvote_path(@post, pre_unvote), method: :delete, remote: true, form_class: "btn_highlight" do%>
                    <i><%= bootstrap_icon "shift-fill", width: 19, height: 19%></i>
                <%end%> 
            <%else%>
                <%= button_to post_post_unvotes_path(@post), method: :post, remote: true, form_class: "btn_normal" do%>
                    <i><%= bootstrap_icon "shift", width: 19, height: 19%></i>
                <%end%> 
            <%end%>
        </div>
    </div>
<%end%>