<div id="post_index_unvote_<%=@post.id%>">
    <%if current_user.present?%>
        <% pre_unvote = @post.post_unvotes.find { |unvote| unvote.user_id == current_user.id} %>
    <%end%>
    <% if pre_unvote %>  
        <%= button_to post_post_unvote_path(@post, pre_unvote), method: :delete, remote: true do%>
            <i><%= bootstrap_icon "arrow-down-circle-fill", width: 20, height: 20, fill: "#4f46e5" %></i>
        <%end%> 
    <%else%>
        <%= button_to post_post_unvotes_path(@post), method: :post, remote: true do%>
            <i><%= bootstrap_icon "arrow-down-circle", width: 20, height: 20, fill: "#888" %></i>
        <%end%> 
    <%end%>
</div>