<!DOCTYPE html>
<html>
  <!-- header start -->
  <head>
    <title>NiceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Import start -->
    <!-- Font Icon -->    
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
		<!-- Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic">
    <!-- Import end -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'pages/header'%>
  </head>
  <!-- header end -->

  <!-- body start -->
  <body>
    <%= yield %>
  </body>
  <!-- body end -->

  <!-- footer start -->
  <footer>
    <%= render 'pages/footer'%>
  </footer>
  <!-- footer end -->
</html>
