<!DOCTYPE html>
<html>
  <!-- header start -->
  <head>
    <title>NiceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Import start -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic">
    <!-- Import end -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'pages/header'%>
  </head>
  <!-- header end -->

  <!-- body start -->
  <body>
    <!-- For Ckeditor -->
    <%= javascript_include_tag Ckeditor.cdn_url%>

    <!-- Scroll top button start -->
    <button onclick="topFunction()" id="scrollUpBtn" title="Go to top">Back to top</button>
    <script>
      //Get the button
      var mybutton = document.getElementById("scrollUpBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- Scroll top button end -->

    <!-- For login anywhere -->
    <%if !user_signed_in? && !admin_signed_in? && (request.referrer != new_admin_session_path)%>
      <%= render 'pages/login'%>
    <%end%>

    <%= yield %>
  </body>
  <!-- body end -->

  <!-- footer start -->
  <footer>
    <!--<%= render 'pages/footer'%> -->
  </footer>
  <!-- footer end -->
</html>
